<main class="d-flex align-items-start">
    {% with active_subsection=payload.theme.active_subsection, aside_list=aside_list %}
        {% include 'design-system:aside.html' %}
    {% endwith %}

    <div id="dropdowns" class="card mt-3 w-100">
        <div class="card-header">
            <h1>Dropdowns</h1>
        </div>
        <div class="card-body row">
            <div class="col-6">
                <h4 class="pt-2">Select</h4>
                <div class="card w-100 mr-2 card-stripped">
                    <div class="d-flex justify-content-start m-4">
                        <div class="mr-2">
                            <p><small>Simple select.</small></p>
                            <select class="selectpicker dropdown-menu__simple font-weight-400" data-style="btn">
                                <option>Mustard</option>
                                <option>Ketchup</option>
                                <option>Relish</option>
                            </select>
                        </div>
                        <div class="mr-2">
                            <p><small>Select (& icons).</small></p>
                            <select class="selectpicker dropdown-menu__simple" data-style="btn">
                                <option data-content="<i class='fa fa-edit mr-2'></i> Mustard"></option>
                                <option data-content="<i class='fa fa-trash mr-2'></i> Ketchup"></option>
                                <option data-content="<i class='fa fa-cog mr-2'></i> Relish"></option>
                            </select>
                        </div>
                        <div class="mr-2">
                            <p><small>Select with search (& icons).</small></p>
                            <select class="selectpicker m" data-style="btn" data-live-search="true">
                                <option data-content="<i class='fa fa-edit mr-2'></i>Mustard"></option>
                                <option data-content="<i class='fa fa-trash mr-2'></i>Ketchup"></option>
                                <option data-content="<i class='fa fa-cog mr-2'></i>Relish"></option>
                            </select>
                        </div>
                        <div>
                            <p><small>Simple select with border</small></p>
                            <div class="d-flex">
                                <select class="selectpicker btn-secondary_item__left" data-style="btn_item__left">
                                    <option data-content="Mustard<i class='fa fa-edit'></i>"></option>
                                    <option data-content="Ketchup<i class='fa fa-trash'></i>"></option>
                                    <option data-content="Relish<i class='fa fa-cog'></i>"></option>
                                </select>
                                <div class="dropdown dropdown_action">
                                    <button class="btn dropdown-toggle btn-secondary_item__right"
                                            role="button"
                                            id="dropdownMenuLink"
                                            data-toggle="dropdown"
                                            aria-expanded="false">
                                        <i class="fa fa-cog"></i>
                                    </button>

                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                        <li class="dropdown-item"><i class='fa fa-edit mr-2'></i>Action</li>
                                        <li class="dropdown-item"><i class='fa fa-trash mr-2'></i>Another action</li>
                                        <li class="dropdown-item"><i class='fa fa-cog mr-2'></i>Something else here</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <h4 class="pt-2">Severity</h4>
                <div class="card w-100 mr-2 card-stripped">
                    <div class="d-flex justify-content-start m-4">
                        <select class="selectpicker btn-colored-select mr-2"
                                data-style="btn-colored">
                            <option class="colored-select-red">CRITICAL</option>
                            <option class="colored-select-orange">HIGH</option>
                            <option class="colored-select-yellow">MEDIUM</option>
                            <option class="colored-select-green">LOW</option>
                            <option class="colored-select-blue">INFO</option>
                            <option>UNEXPECTED</option>
                            <option class="colored-select-darkblue">IGNORE</option>
                        </select>
                        <select class="selectpicker btn-colored-select mr-2"
                                value="INFO"
                                data-style="btn-colored">
                            <option class="colored-select-red">CRITICAL</option>
                            <option class="colored-select-orange">HIGH</option>
                            <option class="colored-select-yellow">MEDIUM</option>
                            <option class="colored-select-green">LOW</option>
                            <option class="colored-select-blue">INFO</option>
                            <option>UNEXPECTED</option>
                            <option class="colored-select-darkblue">IGNORE</option>
                        </select>
                        <select class="selectpicker btn-colored-select mr-2"
                                value="LOW"
                                data-style="btn-colored">
                            <option class="colored-select-red">CRITICAL</option>
                            <option class="colored-select-orange">HIGH</option>
                            <option class="colored-select-yellow">MEDIUM</option>
                            <option class="colored-select-green">LOW</option>
                            <option class="colored-select-blue">INFO</option>
                            <option>UNEXPECTED</option>
                            <option class="colored-select-darkblue">IGNORE</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-8">
                <h4 class="pt-2">Multi select filter</h4>
                <div class="card w-100 mr-2 card-stripped">
                    <div class="d-flex justify-content-start m-4">
                        <div class="mr-2">
                            <p>Fixed width (Add props: min-width).</p>
                            <complex-list-filter
                                    :min-width="'350px'"
                                    :fix-width="true"
                            >
                                <template v-slot:label>
                                    <span class="dropdown-toggle_label font-weight-500">LABEL</span>
                                </template>
                            </complex-list-filter>
                        </div>
                        <div class="mr-2">
                            <p>Flexible width.</p>
                            <complex-list-filter>
                                <template v-slot:label>
                                    <span class="dropdown-toggle_label font-weight-500">LABEL</span>
                                </template>
                            </complex-list-filter>
                        </div>
                        <div class="mr-2">
                            <p>Removable Filter</p>
                            <removable-filter>
                            </removable-filter>
                        </div>
                    </div>
                    <div class="d-flex justify-content-start m-4">
                        <div class="mr-2">
                            <complex-list-filter
                                :min-width="'350px'"
                                :fix-width="true"
                            >
                                <template v-slot:label>
                                    <span class="dropdown-toggle_label font-weight-500">
                                        <i class="fa fa-filter"></i>
                                    </span>
                                </template>
                            </complex-list-filter>
                        </div>
                        <div class="mr-2">
                            <complex-list-filter>
                                <template v-slot:label>
                                    <span class="dropdown-toggle_label font-weight-500">
                                        <i class="fa fa-filter"></i>
                                    </span>
                                </template>
                            </complex-list-filter>
                        </div>
                        <div>
                            <complex-list-filter
                                    :show-selected="false"
                                    class="dropdown-toggle_label__just-icon"
                            >
                                <template v-slot:label>
                                    <span class="dropdown-toggle_label font-weight-500">
                                        <i class="fa fa-filter"></i>
                                    </span>
                                </template>
                            </complex-list-filter>
                        </div>
                    </div>
                    <div class="d-flex justify-content-start m-4">
                        <div class="mr-2">
                            <v-dropdown :items="[...Array(5).keys()].map((item, index) => (
                                { id: Math.round(Math.random() * 1000), title: `Step ${index + 1}`}
                            ))"></v-dropdown>
                        </div>
                    </div>
                    <div class="d-flex justify-content-start m-4">
                        <div class="mr-2">
                            <p class="mr-4">Fixed width (Add props: min-width).</p>
                            <multiselect-filter :title="'Carrier default'">
                            </multiselect-filter>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <h4 class="pt-2">Main section select</h4>
                <div class="card w-100 mr-2 card-stripped p-2">
                    <div class="d-flex">
                        <nav class="navbar navbar-expand-xl main-nav">
                            <div class="d-flex chapters">
                                <select class="selectpicker" data-style="btn-chapters">
                                    <option>Mustard</option>
                                    <option>Ketchup</option>
                                    <option>Relish</option>
                                </select>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <h4 class="pt-2">Action Buttons</h4>
                <div class="card w-100 mr-2 card-stripped p-2">
                    <ul class="">
                        <li><small>Select class "dropleft" or "dropright" for position of list.</small></li>
                        <li><small>Make sm buttons just add class "dropdown-toggle__sm".</small></li>
                    </ul>
                    <div class="d-flex justify-content-start mx-4 mb-4">
                        <div class="dropdown dropleft dropdown_action mr-2">
                            <button class="btn dropdown-toggle btn-secondary"
                                    role="button"
                                    id="dropdownMenuLink"
                                    data-toggle="dropdown"
                                    aria-expanded="false">
                                <i class="fa fa-ellipsis-v"></i>
                            </button>

                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <li class="dropdown-item"><i class='fa fa-edit mr-2'></i>Action</li>
                                <li class="dropdown-item"><i class='fa fa-trash mr-2'></i>Another action</li>
                                <li class="dropdown-item"><i class='fa fa-cog mr-2'></i>Something else here</li>
                            </ul>
                        </div>
                        <div class="dropdown dropright dropdown_action mr-2">
                            <button class="btn dropdown-toggle btn-secondary"
                                    role="button"
                                    id="dropdownMenuAction"
                                    data-toggle="dropdown"
                                    aria-expanded="false">
                                <i class="fa fa-plus"></i>
                            </button>

                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuAction">
                                <li class="px-3 py-1 font-weight-500">Create  Test</li>
                                <li class="dropdown-item">
                                    <span class="pl-2">Backend</span></li>
                                <li class="dropdown-item">
                                    <span class="pl-2">UI performance</span></li>
                                </li>
                                <li class="dropdown-item">
                                    <span class="pl-2">Suit</span></li>
                                </li>
                            </ul>
                        </div>
                        <div class="dropdown dropleft dropdown_action mr-2">
                            <button class="btn dropdown-toggle dropdown-toggle__sm btn-secondary"
                                    role="button"
                                    id="dropdownMenuLinkSm"
                                    data-toggle="dropdown"
                                    aria-expanded="false">
                                <i class="fa fa-ellipsis-v"></i>
                            </button>

                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLinkSm">
                                <li class="dropdown-item"><i class='fa fa-edit mr-2'></i>Action</li>
                                <li class="dropdown-item"><i class='fa fa-trash mr-2'></i>Another action</li>
                                <li class="dropdown-item"><i class='fa fa-cog mr-2'></i>Something else here</li>
                            </ul>
                        </div>
                        <div class="dropdown dropright dropdown_action mr-2">
                            <button class="btn dropdown-toggle dropdown-toggle__sm btn-secondary"
                                    role="button"
                                    id="dropdownMenuActionSm"
                                    data-toggle="dropdown"
                                    aria-expanded="false">
                                <i class="fa fa-plus"></i>
                            </button>

                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuActionSm">
                                <li class="px-3 py-1 font-weight-bold">Create  Test</li>
                                <li class="dropdown-item">
                                    <span class="pl-2">Backend</span></li>
                                <li class="dropdown-item">
                                    <span class="pl-2">UI performance</span></li>
                                </li>
                                <li class="dropdown-item">
                                    <span class="pl-2">Suit</span></li>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <h4 class="pt-2">Search List</h4>
                <div class="card w-100 mr-2 card-stripped">
                    <div class="d-flex m-4">
                        <complex-list class="mr-2"></complex-list>
                        <complex-list></complex-list>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <h4 class="pt-2">List Tree</h4>
                <div class="card w-100 mr-2 card-stripped">
                    <div class="d-flex m-4">
                        <div class="dropdown_tree-list">
                            <button class="btn btn-select dropdown-toggle font-weight-400" type="button"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span>Select items</span>
                            </button>
                            <div class="dropdown-menu close-outside pb-0 pr-4">
                                <div class="tree"></div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-4">
                <h4 class="pt-2">Simple List</h4>
                <div class="card w-100 mr-2 card-stripped">
                    <div class="d-flex m-4">
                        <div class="d-flex">
                            <simple-list class="mr-2"></simple-list>
                            <simple-list></simple-list>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <h4 class="pt-2">Multilevel</h4>
                <div class="card w-100 mr-2 card-stripped">
                    <div class="d-flex m-4">
                        <div class="dropdown_multilevel mr-2">
                            <button class="btn btn-secondary btn-select dropdown-toggle font-weight-400" type="button"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Actions
                            </button>
                            <ul class="dropdown-menu">
                                <li class="dropdown-menu_item dropdown-item d-flex align-items-center">
                                    <span class="w-100">Step 1</span>
                                    <i class="fa fa-sort-down"
                                       style="transform: rotate(270deg)"
                                    ></i>
                                    <ul class="submenu dropdown-menu">
                                        <li class="dropdown-menu_item dropdown-item d-flex align-items-center">
                                            <span class="w-100">Step 1.1</span>
                                        </li>
                                        <li class="dropdown-menu_item dropdown-item d-flex align-items-center">
                                            <span class="w-100">Step 1.2</span>
                                        </li>
                                        <li class="dropdown-menu_item dropdown-item d-flex align-items-center">
                                            <span class="w-100">Step 1.3</span>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown-menu_item dropdown-item d-flex align-items-center">
                                    <span class="w-100">Step 2</span>
                                </li>
                            </ul>
                        </div>
                        <div class="dropdown_multilevel mr-2">
                            <button class="btn btn-secondary btn-select dropdown-toggle font-weight-400" type="button"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Actions
                            </button>
                            <ul class="dropdown-menu">
                                <li class="dropdown-menu_item dropdown-item d-flex align-items-center">
                                    <span class="w-100">Step 1</span>
                                    <i class="fa fa-sort-down"
                                       style="transform: rotate(270deg)"
                                    ></i>
                                    <ul class="submenu submenu__left dropdown-menu">
                                        <li class="dropdown-menu_item dropdown-item d-flex align-items-center">
                                            <span class="w-100">Step 1.1</span>
                                        </li>
                                        <li class="dropdown-menu_item dropdown-item d-flex align-items-center">
                                            <span class="w-100">Step 1.2</span>
                                        </li>
                                        <li class="dropdown-menu_item dropdown-item d-flex align-items-center">
                                            <span class="w-100">Step 1.3</span>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown-menu_item dropdown-item d-flex align-items-center">
                                    <span class="w-100">Step 2</span>
                                </li>
                            </ul>
                        </div>
                        <div class="dropdown_multilevel">
                            <button class="btn btn-secondary btn-select btn-select__sm btn-select__purple dropdown-toggle font-weight-400" type="button"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Actions
                            </button>
                            <ul class="dropdown-menu">
                                <li class="dropdown-menu_item dropdown-item d-flex align-items-center">
                                    <span class="w-100">Step 1</span>
                                    <i class="fa fa-sort-down"
                                       style="transform: rotate(270deg)"
                                    ></i>
                                    <ul class="submenu submenu__left dropdown-menu">
                                        <li class="dropdown-menu_item dropdown-item d-flex align-items-center">
                                            <span class="w-100">Step 1.1</span>
                                        </li>
                                        <li class="dropdown-menu_item dropdown-item d-flex align-items-center">
                                            <span class="w-100">Step 1.2</span>
                                        </li>
                                        <li class="dropdown-menu_item dropdown-item d-flex align-items-center">
                                            <span class="w-100">Step 1.3</span>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown-menu_item dropdown-item d-flex align-items-center">
                                    <span class="w-100">Step 2</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>