.btn:focus {
  box-shadow: none !important;
}

.dropdown-item.active, .dropdown-item:active {
  color: var(--gray700);
}

/* custom-checkbox */
.custom-checkbox input[type=checkbox] {
  position: relative;
  -webkit-appearance: none;
}
.custom-checkbox input[type=checkbox]:before {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid var(--gray400);
  border-radius: 0.25em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
  cursor: pointer;
}
.custom-checkbox input[type=checkbox]:hover:before {
  border: 1px solid var(--gray600);
}
.custom-checkbox input[type=checkbox]:checked::before {
  border-color: var(--purple);
  background-color: var(--purple);
  background-image: url("../../../../../static/assets/ico/check-white.svg");
  background-size: 10px;
}
.custom-checkbox input[type=checkbox]:checked:not(:disabled):hover:before {
  background-color: var(--purple-hover);
  border-color: var(--purple-hover);
}
.custom-checkbox input[type=checkbox]:disabled:checked::before {
  background-color: var(--gray400);
  border-color: var(--gray400);
}
.custom-checkbox input[type=checkbox]:disabled:not(:checked)::before {
  border-color: var(--gray400);
}
.custom-checkbox__minus input[type=checkbox]::before {
  border-color: var(--purple);
  background-color: var(--purple);
  background-image: url("../../../../../static/assets/ico/minus.svg");
  background-size: 10px;
}

/* checkbox multicolor */
.custom-checkbox.custom-checkbox__multicolor input[type=checkbox]::before {
  border: 1px solid var(--cbx-color);
}
.custom-checkbox.custom-checkbox__multicolor input[type=checkbox]:checked::before {
  border-color: var(--cbx-color);
  background-color: var(--cbx-color);
}
.custom-checkbox.custom-checkbox__multicolor input[type=checkbox]:checked:not(:disabled):hover:before {
  border-color: var(--cbx-color);
  background-color: var(--cbx-color);
}

input[type=radio].custom-radio {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom-radio + label::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid var(--gray400);
  border-radius: 50%;
  cursor: pointer;
}

.custom-radio:checked + label:before {
  border: 5px solid var(--purple);
}

.custom-radio:not(:checked):not(:disabled) + label:hover:before {
  border-color: var(--gray600);
}

.custom-radio:disabled + label::before {
  border-color: var(--gray300);
}

.custom-radio:disabled:not(:checked) + label::before {
  background-color: var(--gray100);
}

.custom-toggle {
  position: relative;
  display: inline-block;
  width: 28px;
  height: 16px;
}

.custom-toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}

.custom-toggle input + .custom-toggle_slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--gray400);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.custom-toggle .custom-toggle_slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 2px;
  bottom: 2px;
  box-shadow: 0 0 3px rgba(50, 50, 93, 0.16), 0 0 2px rgba(0, 0, 0, 0.05);
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.custom-toggle input:checked + .custom-toggle_slider {
  background-color: var(--purple);
}

.custom-toggle input:not(:disabled):checked:hover + .custom-toggle_slider {
  background-color: var(--purple-hover);
}

.custom-toggle input:checked + .custom-toggle_slider:before {
  -webkit-transform: translateX(11px);
  -ms-transform: translateX(11px);
  transform: translateX(11px);
}

.custom-toggle .custom-toggle_slider.round {
  border-radius: 16px;
}

.custom-toggle .custom-toggle_slider.round:before {
  border-radius: 50%;
}

.custom-toggle input:not(:disabled):hover + .custom-toggle_slider {
  background-color: var(--gray500);
}

.custom-toggle input:disabled + .custom-toggle_slider {
  background-color: var(--gray400);
}

.custom-toggle input:not(:checked):disabled + .custom-toggle_slider {
  background-color: var(--gray300);
}

input[type=range] {
  width: 100%;
}

input[type=range],
input[type=range]::-webkit-slider-runnable-track,
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
  height: 6px;
  background: linear-gradient(to right, var(--purple), var(--purple)), #D7D7D7;
  background-size: var(--background-range-size, 0%) 100%;
  background-repeat: no-repeat;
  border-radius: 2px;
}

input[type=range]::-webkit-slider-thumb {
  width: 16px;
  height: 16px;
  cursor: pointer;
  background: var(--purple);
  border-radius: 50%;
  margin-top: -6px;
}

input[type=range]::-moz-range-progress {
  background-color: #293043;
  border-radius: 5px;
}

input[type=range]::-moz-range-track {
  background-color: var(--gray300);
  border-radius: 5px;
}

input[type=range]::-moz-range-thumb {
  width: 15px;
  height: 15px;
  cursor: pointer;
  background: var(--purple);
  border-radius: 50%;
  margin-top: -6px;
}

.custom-input {
  color: var(--gray800);
}
.custom-input .label {
  font-size: 14px !important;
  line-height: 24px;
}
.custom-input .custom-input_desc {
  font-size: 12px;
  line-height: 16px;
  color: var(--gray600);
}
.custom-input input {
  width: 100%;
  padding: 7px 16px;
  border: solid 1px var(--gray500);
  border-radius: 4px;
  outline: none;
  font-size: 14px;
}
.custom-input input:focus {
  box-shadow: 0px 2px 3px rgba(36, 36, 93, 0.1), 0px -1px 1px rgba(36, 36, 93, 0.05);
}
.custom-input input::placeholder {
  color: var(--gray500);
  font-size: 14px;
}
.custom-input_search input {
  padding-left: 40px;
}
.custom-input_search .icon-search {
  left: 16px;
  top: 11px;
  color: var(--gray500);
}
.custom-input_search__sm input {
  padding: 3px 12px 3px 34px;
}
.custom-input_search__sm .icon-search {
  left: 12px;
  top: 6px;
  color: var(--gray500);
}
.custom-input .input_error-msg {
  display: none;
}
.custom-input.invalid-input input {
  border-color: var(--error);
  padding-right: 40px;
  background-image: url("../../../../../static/assets/ico/alarm.svg");
  background-repeat: no-repeat;
  background-position: right 18px center;
  background-size: 16px;
}
.custom-input.invalid-input .input_error-msg {
  color: var(--error);
  margin-top: 4px;
  font-size: 12px;
  line-height: 16px;
  display: block;
}

.input-stepper {
  color: var(--gray800);
  border: solid 1px var(--gray500);
  border-radius: 4px;
  display: flex;
  float: left;
  overflow: hidden;
}
.input-stepper button:focus {
  outline: 0;
  box-shadow: none;
}
.input-stepper button {
  color: var(--gray500);
  font-size: 16px;
  padding: 12px 15px;
  background: white;
  border: none;
}
.input-stepper span {
  display: flex;
  align-items: center;
  padding: 0 2px;
  outline: 0;
}

.bootstrap-select {
  width: auto !important;
  border: 1px solid transparent;
}
.bootstrap-select .filter-option-inner-inner {
  color: var(--gray700) !important;
}
.bootstrap-select.show, .bootstrap-select:hover {
  transition: all 0.3s;
  border: 1px solid var(--gray400);
  box-shadow: 0 2px 3px rgba(36, 36, 93, 0.1), 0 -1px 1px rgba(36, 36, 93, 0.05);
  border-radius: 4px;
}
.bootstrap-select .dropdown-toggle:focus {
  outline: none !important;
}

.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
  width: auto;
}

.custom-tabs a {
  text-decoration: none;
  color: var(--gray600);
  font-size: 12px;
  line-height: 24px;
  padding: 4px 16px;
  border-bottom: solid 1px var(--gray200);
}
.custom-tabs a.active {
  color: var(--purple);
  border-color: var(--purple);
}

.dropdown-toggle:disabled {
  background: var(--gray100);
}

.dropdown-menu.show {
  box-shadow: var(--bloc-shadow);
}
.dropdown-menu.show label {
  font-size: 14px;
  line-height: 24px;
}
.dropdown-menu.show .dropdown-item {
  font-size: 14px;
  line-height: 24px;
}

.bootstrap-select .dropdown-toggle:focus,
.bootstrap-select > select.mobile-device:focus + .dropdown-toggle {
  outline: none !important;
  outline-offset: -2px;
}

.bootstrap-select a:focus {
  outline: none !important;
}

.bootstrap-select .dropdown-item {
  display: block;
  width: 100%;
  padding: 6px 1.5rem;
  clear: both;
  font-weight: 400;
  font-size: 14px;
  color: var(--main-text);
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}

.bootstrap-select .dropdown-item i {
  color: var(--gray600) !important;
}

.bootstrap-select .dropdown-item {
  font-weight: 400;
  text-transform: capitalize;
}

.dropdown-item:focus,
.dropdown-item:hover {
  color: var(--main-text);
  text-decoration: none;
  background-color: var(--gray100);
}

.dropdown-item.active,
.dropdown-item:active {
  color: var(--basic);
  text-decoration: none;
  font-weight: 400;
  background-color: var(--white);
}

.dropdown-item span {
  width: 95%;
  text-overflow: ellipsis;
}

.bootstrap-select .dropdown-item.active::after,
.bootstrap-select .dropdown-item:active::after {
  content: "";
  display: inline-block;
  background: url("../../../../../static/assets/ico/check.svg") no-repeat top right;
  width: 15px;
  height: 12px;
}

.dropdown-item.disabled,
.dropdown-item:disabled {
  color: var(--somegray);
  pointer-events: none;
  background-color: var(--disabled);
}

.bootstrap-select .dropdown-toggle::after {
  content: "";
  display: inline-block;
  background: url("../../../../../static/assets/ico/arrow-down.svg") no-repeat center right;
  width: 15px;
  height: 12px;
  border: 0;
}

.bootstrap-select .dropdown-toggle[aria-expanded=true]::after {
  content: "";
  display: inline-block;
  background: url("../../../../../static/assets/ico/arrow-up.svg") no-repeat center right;
  width: 15px;
  height: 12px;
  border: 0;
}

.main-nav .bootstrap-select .dropdown-toggle::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  width: unset;
  height: unset;
  background: transparent;
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}

/* dropdown simple-list*/
.dropdown_simple-list .complex-list_empty {
  color: var(--gray500);
}
.dropdown_simple-list .dropdown-toggle:hover {
  transition: all 0.3s;
  border: 1px solid var(--gray400);
  box-shadow: 0 2px 3px rgba(36, 36, 93, 0.1), 0 -1px 1px rgba(36, 36, 93, 0.05);
}
.dropdown_simple-list .dropdown-menu input[type=checkbox], .dropdown_simple-list .dropdown-menu label {
  cursor: pointer !important;
}
.dropdown_simple-list .dropdown-menu input[type=checkbox] li:hover, .dropdown_simple-list .dropdown-menu label li:hover {
  background: var(--gray100);
}
.dropdown_simple-list .dropdown-menu i.fa-check {
  color: var(--purple);
  font-size: 8px;
}
.dropdown_simple-list .dropdown-menu i {
  color: var(--somegray);
  font-size: 12px;
}

/* dropdown tree-list*/
.dropdown-menu i.fa-sort-down {
  font-size: 14px;
  padding-bottom: 6px;
  cursor: pointer;
  color: var(--gray400);
}

.dropdown_tree-list .complex-list_empty {
  color: var(--gray500);
}
.dropdown_tree-list .dropdown-toggle:hover {
  transition: all 0.3s;
  border: 1px solid var(--gray400);
  box-shadow: 0 2px 3px rgba(36, 36, 93, 0.1), 0 -1px 1px rgba(36, 36, 93, 0.05);
}

.dropdown_tree-list input[type=checkbox] {
  -moz-appearance: none;
  -webkit-appearance: none;
  -o-appearance: none;
}

.dropdown_tree-list .fa-sort-down ~ label > span {
  margin-left: 40px !important;
}

.dropdown_tree-list input[type=checkbox],
.dropdown_tree-list label {
  cursor: pointer !important;
}

/* dropdown multilevel */
.dropdown_multilevel .dropdown-menu > li:hover > .submenu {
  display: block;
}

.dropdown_multilevel .dropdown-toggle {
  color: var(--gray800);
}
.dropdown_multilevel .dropdown-toggle:hover {
  transition: all 0.3s;
  border: 1px solid var(--gray400);
  box-shadow: 0 2px 3px rgba(36, 36, 93, 0.1), 0 -1px 1px rgba(36, 36, 93, 0.05);
}

.dropdown_multilevel .submenu {
  display: none;
  position: absolute;
  left: 100%;
  top: -3px;
}

.dropdown_multilevel .dropdown-menu .dropdown-item {
  cursor: pointer;
}

.dropdown_tree-list i.fa-sort-down {
  left: 46px;
}

.dropdown_tree-list label {
  color: var(--gray800);
}

.dropdown-menu .dropdown-menu_item {
  padding: 6px 1rem;
}
.dropdown-menu .dropdown-menu_item:hover {
  background: var(--gray100);
}

.dropdown-menu .dropdown-menu_item:hover .fa-sort-down {
  color: var(--purple);
}

/* complex list*/
.complex-list ul {
  padding-inline-start: 0 !important;
}
.complex-list .dropdown-toggle_label {
  padding-right: 10px;
  margin-right: 10px;
  color: var(--basic);
}
.complex-list .dropdown-toggle_label::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  width: 9px;
  border-right: solid 1px var(--purple-outline);
  height: 100%;
}
.complex-list .dropdown-toggle:hover {
  transition: all 0.3s;
  border: 1px solid var(--gray400);
  box-shadow: 0 2px 3px rgba(36, 36, 93, 0.1), 0 -1px 1px rgba(36, 36, 93, 0.05);
}
.complex-list__removable .dropdown-toggle {
  background: var(--gray100);
}
.complex-list__removable .btn-select {
  border: solid 1px transparent;
}
.complex-list__removable.show .dropdown-toggle {
  border: 1px solid var(--gray400);
  box-shadow: 0 2px 3px rgba(36, 36, 93, 0.1), 0 -1px 1px rgba(36, 36, 93, 0.05) !important;
}
.complex-list__filter .dropdown-toggle:hover {
  border: solid 1px var(--purple-outline);
}
.complex-list__filter .btn-select {
  border: solid 1px var(--purple-outline);
  height: 32px;
  font-size: 12px;
}
.complex-list__filter .btn {
  padding: 6px 10px 6px 10px;
}
.complex-list__filter.show .dropdown-toggle {
  box-shadow: 0 2px 3px rgba(36, 36, 93, 0.1), 0 -1px 1px rgba(36, 36, 93, 0.05) !important;
}

.complex-list label {
  cursor: pointer !important;
}

.complex-list .complex-list_empty {
  color: var(--gray500);
}

.btn-select {
  border: solid 1px var(--gray400);
  height: 40px;
}

.btn-select.dropdown-toggle::after {
  display: inline-block;
  content: "";
  border: none;
  background: url(../../../../../static/assets/ico/arrow-down.svg) no-repeat bottom right;
  width: 23px;
  height: 8px;
  vertical-align: 0;
}

.complex-list__removable .btn-select.dropdown-toggle::after {
  position: absolute;
  right: 2.5rem;
}
.complex-list__removable .icon-times {
  color: var(--gray500);
  margin-left: 32px;
}
.complex-list__removable .btn-select {
  height: 32px;
  font-size: 12px;
}

.btn-select.dropdown-toggle[aria-expanded=true]::after {
  background: url(../../../../../static/assets/ico/arrow-up.svg) no-repeat center right;
}

.filter-option-inner-inner > i {
  display: none;
}

/* dropdown actions */
.dropdown_action .dropdown-toggle::before, .dropdown_action .dropdown-toggle::after {
  display: none;
}
.dropdown_action .dropdown-toggle i {
  width: 14px;
}
.dropdown_action .dropdown-toggle.btn {
  padding: 6px 8px;
}
.dropdown_action.show .btn-secondary.dropdown-toggle {
  border-color: var(--purple);
}
.dropdown_action.show .btn-secondary.dropdown-toggle i {
  color: var(--purple);
}
.dropdown_action .dropdown-item {
  cursor: pointer;
}
.dropdown_action .dropdown-item i {
  color: var(--gray600);
}
.dropdown_action li {
  font-size: 14px;
  line-height: 24px;
}

/* dropdown-select */
.bootstrap-select .bs-searchbox {
  padding: 4px 16px;
}
.bootstrap-select .bs-searchbox .form-control {
  height: 32px;
  border: solid 1px var(--gray500);
  border-radius: 4px;
  padding-left: 32px;
  background: url(../../../../../static/assets/ico/search.svg) no-repeat 8px 7px;
}
.bootstrap-select .bs-searchbox .form-control:focus {
  box-shadow: none;
}
.bootstrap-select .no-results {
  background: #fff;
  padding: 4px 16px;
}

.treejs-switcher {
  position: absolute;
  left: 46px;
}

.treejs .treejs-nodes {
  padding-top: 12px;
}

.treejs .treejs-node__checked > .treejs-checkbox:before,
.treejs .treejs-node__halfchecked > .treejs-checkbox:before {
  background-color: var(--basic) !important;
  border-color: var(--basic) !important;
}

.treejs .treejs-checkbox:hover:before {
  box-shadow: none !important;
}

.treejs .treejs-checkbox:before {
  width: 18px !important;
  height: 18px !important;
  border-radius: 0.25em !important;
}

.treejs .treejs-node__checked > .treejs-checkbox:after {
  top: 5px !important;
  left: 7px !important;
}

.treejs .treejs-node__halfchecked > .treejs-checkbox:after {
  left: 4px !important;
  top: 10px !important;
  border-radius: 0.25em !important;
}

.tree > .treejs > .treejs-nodes {
  padding-left: 0 !important;
}

.treejs-node.treejs-placeholder {
  margin-bottom: 12px;
}

.treejs-switcher ~ .treejs-label {
  margin-left: 19px;
}

.treejs-checkbox {
  margin-right: 15px;
}

.treejs .treejs-switcher:before {
  top: 9px !important;
  left: 3px !important;
  border: 6px solid transparent !important;
  border-top: 5px solid var(--gray400) !important;
}

/*# sourceMappingURL=main.css.map */
