.d-flex .btn-32 {
  margin-right: 10px;
}

.btn {
  font-size: 14px;
  height: 32px;
  white-space: nowrap !important;
  padding: 4px 15px 4px 15px;
  font-weight: 500;
}

.btn-lg {
  font-size: 14px;
  line-height: 24px;
  height: 40px !important;
  padding: 8px 20px 8px 20px;
  font-weight: 500;
}

.btn-sm {
  font-size: 12px;
  line-height: 16px;
  height: 28px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  padding: 5px 15px 5px 15px;
}

.d-flex .btn:last-child {
  margin-right: 0px !important;
}

.btn-37 {
  font-size: 14px;
  padding: 9px;
  height: 37px !important;
  min-width: 37px;
  max-width: 37px;
  font-weight: 400;
}

.btn-32 {
  font-size: 14px;
  padding: 8px;
  line-height: 32px;
  height: 32px !important;
  min-width: 32px;
  max-width: 32px;
  font-weight: 400;
}

.btn-24 {
  font-size: 10px;
  padding: 2px 4px 2px 4px;
  height: 24px !important;
  min-width: 24px;
  max-width: 24px;
  font-weight: 400;
}
.btn-24.btn__purple {
  color: $purple-basic;
}
.btn-24.btn__purple:hover {
  color: var(--purple-hover);
}
.btn-24.btn__purple:active {
  color: var(--pressed);
}

.btn-16 {
  font-size: 8px;
  padding: 2px;
  line-height: 12px;
  height: 16px !important;
  min-width: 16px;
  max-width: 16px;
  font-weight: 400;
}

.btn.disabled.updating::before,
.btn.updating:disabled::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  content: "\f110";
  margin-right: 5px;
  -webkit-animation: fa-spin 2s linear infinite;
  animation: fa-spin 2s linear infinite;
}

.btn-primary {
  color: var(--basic);
  background-color: var(--white);
  border: 0;
  font-weight: 700;
  text-transform: uppercase;
  height: 40px;
  margin-right: 10px;
}

.btn-primary.hover,
.btn-primary:hover,
.btn-primary.focus,
.btn-primary:focus {
  color: var(--basic);
  background-color: var(--tabs-btns-icns);
  border: 0;
}

.btn-primary.disabled,
.btn-primary:disabled {
  color: var(--white);
  background-color: var(--disabled);
  border: none;
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
  color: var(--white);
  background-color: var(--pressed) !important;
  border: none;
  box-shadow: none;
}

.btn-chapters {
  color: var(--basic);
  background-color: var(--tabs-btns-icns);
  border: 0;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 20px;
  height: 40px !important;
  .filter-option-inner-inner {
    font-weight: 700;
  }
}

.btn-chapters:hover {
  color: var(--basic);
}

.btn-chapters.disabled,
.btn-chapters:disabled {
  color: var(--somegray);
  background-color: var(--disabled);
  border: 0;
}

.btn-chapters:not(:disabled):not(.disabled).active:focus,
.btn-chapters:not(:disabled):not(.disabled):active:focus,
.show > .btn-chapters.dropdown-toggle:focus {
  box-shadow: none;
}

.btn-projects {
  color: var(--basic);
  background-color: var(--white);
  border: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  width: -webkit-fit-content !important;
}

.btn-projects:hover {
  color: var(--basic);
  background-color: var(--tabs-btns-icns);
  border: 0;
}

.btn-projects.focus,
.btn-projects:focus {
  color: var(--basic);
  background-color: var(--tabs-btns-icns);
  border-color: 0;
  box-shadow: none;
}

.btn-projects.disabled,
.btn-projects:disabled {
  color: var(--somegray);
  background-color: var(--disabled);
  border: 0;
}

.btn-basic {
  color: var(--white);
  background-color: var(--basic);
  border: none;
  text-transform: capitalize;
}

.btn-basic.hover,
.btn-basic:hover {
  color: var(--white);
  background-color: var(--basic-hover);
  border: none;
  box-shadow: var(--hover-shadow);
}

.btn-basic.focus,
.btn-basic:focus {
  color: var(--white);
  background-color: var(--pressed) !important;
  border: none;
  box-shadow: none;
}

.btn-basic.disabled,
.btn-basic:disabled {
  color: var(--white);
  background-color: var(--disabled);
  border: none;
}

.btn-basic:not(:disabled):not(.disabled).active,
.btn-basic:not(:disabled):not(.disabled):active,
.show > .btn-basic.dropdown-toggle {
  color: var(--white);
  background-color: var(--pressed) !important;
  border: none;
  box-shadow: none;
}

.btn-basic:not(:disabled):not(.disabled).active:focus,
.btn-basic:not(:disabled):not(.disabled):active:focus,
.show > .btn-basic.dropdown-toggle:focus {
  box-shadow: none;
}

.btn-secondary {
  color: var(--basic);
  font-weight: 600;
  background-color: var(--white);
  border: 1px solid var(--purple-outline);
  text-transform: capitalize;
  &_item {
    &__right {
      border-top: 1px solid var(--basic60);
      border-right: 1px solid var(--basic60);
      border-bottom: 1px solid var(--basic60);
      border-radius: 0 5px 5px 0;
      margin-left: -1px;
      .fa {
        color: var(--basic);
      }
      &:hover {
        transition: all 0.3s;
        box-shadow: 0 2px 3px rgb(36 36 93 / 10%), 0 -1px 1px rgb(36 36 93 / 5%) !important;
        border-radius: 0 5px 5px 0;
      }
    }
    &__left {
      .dropdown-item span {
        width: 100% !important;
      }
      &.dropleft .dropdown-toggle::before {
        display: none !important;
      }
      border: none !important;
      .btn_item__left {
        border: 1px solid var(--basic60) !important;
        border-radius: 5px 0 0 5px !important;
      }
      .btn_item__right:hover {
          transition: all 0.3s;
          box-shadow: 0 2px 3px rgb(36 36 93 / 10%), 0 -1px 1px rgb(36 36 93 / 5%) !important;
          border-radius: 5px 0 0 5px !important;
      }
      .dropdown-toggle {
        .filter-option-inner-inner {
          line-height: 20px;
          color: $gray800 !important;
        }
      }
      .dropdown-menu {
        li {
          .dropdown-item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 6px 16px 6px 16px;
            .text {
              display: flex;
              align-items: center;
              justify-content: space-between;
              .fa {
                margin-left: 40px;
              }
            }
            &.active::after,  &:active::after,{
              right: 42px;
              position: absolute;
            }
          }
        }
      }
    }
  }
}
.btn-secondary.hover,
.btn-secondary:not(:disabled):hover {
  color: var(--basic-hover);
  background-color: var(--white) !important;
  border: 1px solid var(--basic60);
  box-shadow: var(--hover-shadow);
}

.btn-secondary.focus,
.btn-secondary:focus {
  color: var(--pressed);
  background-color: var(--white) !important;
  border: 1px solid var(--purple-outline);
  box-shadow: none;
}

.btn-secondary.disabled,
.btn-secondary:disabled {
  color: var(--disabled);
  background-color: var(--white);
  border: 1px solid var(--borders);
}

.btn-secondary.disabled.updating,
.btn-secondary.updating:disabled {
  color: var(--pressed);
  background-color: var(--white) !important;
  border: 1px solid var(--pressed60);
  box-shadow: none;
}

.btn-secondary:not(:disabled):not(.disabled).active,
.btn-secondary:not(:disabled):not(.disabled):active,
.show > .btn-secondary.dropdown-toggle {
  color: var(--pressed);
  background-color: var(--white) !important;
  //border: 1px solid var(--pressed60);
  box-shadow: none;
}

.btn-secondary:not(:disabled):not(.disabled).active:focus,
.btn-secondary:not(:disabled):not(.disabled):active:focus,
.show > .btn-secondary.dropdown-toggle:focus {
  box-shadow: none;
}

.btn-gray {
  height: calc(1.5em + 18px);
  padding: 8px 10px;
  font-size: 13px;
  font-weight: 400;
  color: var(--main-text);
  background-color: var(--white);
  border: 1px solid var(--lines);
  margin-top: 10px;
  margin-bottom: 10px;
}
.btn-gray.hover,
.btn-gray:hover {
  color: var(--main-text);
  background-color: var(--white) !important;
  border: 1px solid var(--lines);
  outline: 0;
  box-shadow: var(--inputs-shadow);
}

.btn-gray.focus,
.btn-gray:focus {
  color: var(--main-text);
  background-color: var(--white) !important;
  border: 1px solid var(--lines);
  outline: 0;
  box-shadow: none;
}

.btn-gray.disabled,
.btn-gray:disabled {
  color: var(--main-text);
  background-color: var(--gray100);
  border: 1px solid var(--lines);
  opacity: 1;
}

.btn-gray.disabled.updating,
.btn-gray.updating:disabled {
  color: var(--main-text);
  background-color: var(--gray100);
  border: 1px solid var(--lines);
  box-shadow: none;
}

.btn-gray:not(:disabled):not(.disabled).active,
.btn-gray:not(:disabled):not(.disabled):active,
.show > .btn-secondary.dropdown-toggle {
  color: var(--main-text);
  background-color: var(--white) !important;
  //border: 1px solid var(--lines);
  outline: 0;
  box-shadow: none;
}

.btn-gray:not(:disabled):not(.disabled).active:focus,
.btn-gray:not(:disabled):not(.disabled):active:focus,
.show > .btn-secondary.dropdown-toggle:focus {
  box-shadow: none;
}

.btn-colored {
  color: var(--black);
  background-color: var(--white);
  border: 0;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
}
.btn-colored.hover,
.btn-colored:hover {
  box-shadow: var(--hover-shadow);
}

.btn-colored.focus,
.btn-colored:focus {
  box-shadow: none;
}

.btn-colored:not(:disabled):not(.disabled).active:focus,
.btn-colored:not(:disabled):not(.disabled):active:focus,
.show > .btn-colored.dropdown-toggle:focus {
  box-shadow: none;
}

.btn-warning {
  color: var(--warn);
  background-color: var(--white);
  border: 1px solid var(--warn40);
  text-transform: capitalize;
}

.btn-warning.hover,
.btn-warning:hover {
  color: var(--warn);
  background-color: var(--white) !important;
  border: 1px solid var(--warn40);
  box-shadow: var(--hover-warn-shadow);
}

.btn-warning.focus,
.btn-warning:focus {
  color: var(--warn);
  background-color: var(--white) !important;
  border: 1px solid var(--warn);
  box-shadow: none;
}

.btn-warning.disabled,
.btn-warning:disabled {
  color: var(--disabled);
  background-color: var(--white);
  border: 1px solid var(--borders);
}

.btn-warning.disabled.updating,
.btn-warning.updating:disabled {
  color: var(--warn);
  background-color: var(--white) !important;
  border: 1px solid var(--warn);
  box-shadow: none;
}

.btn-warning:not(:disabled):not(.disabled).active,
.btn-warning:not(:disabled):not(.disabled):active,
.show > .btn-warning.dropdown-toggle {
  color: var(--warn);
  background-color: var(--white) !important;
  border: 1px solid var(--warn);
  box-shadow: none;
}

.btn-warning:not(:disabled):not(.disabled).active:focus,
.btn-warning:not(:disabled):not(.disabled):active:focus,
.show > .btn-warning.dropdown-toggle:focus {
  box-shadow: none;
}

.btn-danger {
  color: var(--error);
  background-color: var(--white);
  border: 1px solid var(--error40);
  text-transform: capitalize;
}

.btn-danger:hover {
  color: var(--error);
  background-color: var(--white) !important;
  border: 1px solid var(--error40);
  box-shadow: var(--hover-danger-shadow);
}

.btn-danger.focus,
.btn-danger:focus {
  color: var(--error);
  background-color: var(--white) !important;
  border: 1px solid var(--error);
  box-shadow: none;
}

.btn-danger.disabled,
.btn-danger:disabled {
  color: var(--disabled);
  background-color: var(--white);
  border: 1px solid var(--borders);
}

.btn-danger.disabled.updating,
.btn-danger.updating:disabled {
  color: var(--error);
  background-color: var(--white) !important;
  border: 1px solid var(--error);
  box-shadow: none;
}

.btn-danger:not(:disabled):not(.disabled).active,
.btn-danger:not(:disabled):not(.disabled):active,
.show > .btn-danger.dropdown-toggle {
  color: var(--error);
  background-color: var(--white) !important;
  border: 1px solid var(--error);
  box-shadow: none;
}

.btn-danger:not(:disabled):not(.disabled).active:focus,
.btn-danger:not(:disabled):not(.disabled):active:focus,
.show > .btn-danger.dropdown-toggle:focus {
  box-shadow: none;
}

.btn-success {
  color: var(--white);
  background-color: var(--success);
  border: 1px solid var(--success);
  text-transform: capitalize;
}

.btn-success.hover,
.btn-success:hover {
  color: var(--success);
  background-color: var(--white) !important;
  border: 1px solid var(--success);
  box-shadow: var(--hover-success-shadow);
}

.btn-success.focus,
.btn-success:focus {
  color: var(--success);
  background-color: var(--white) !important;
  border: 1px solid var(--success);
  box-shadow: none;
}

.btn-success.disabled,
.btn-success:disabled {
  color: var(--disabled);
  background-color: var(--white);
  border: 1px solid var(--borders);
}

.btn-success.disabled.updating,
.btn-success.updating:disabled {
  color: var(--success);
  background-color: var(--white) !important;
  border: 1px solid var(--success);
  box-shadow: none;
}

.btn-success:not(:disabled):not(.disabled).active,
.btn-success:not(:disabled):not(.disabled):active,
.show > .btn-danger.dropdown-toggle {
  color: var(--success);
  background-color: var(--white) !important;
  border: 1px solid var(--success);
  box-shadow: none;
}

.btn-success:not(:disabled):not(.disabled).active:focus,
.btn-success:not(:disabled):not(.disabled):active:focus,
.show > .btn-danger.dropdown-toggle:focus {
  box-shadow: none;
}
.table-action {
  .btn-action {
    background-color: transparent;
    border: solid 1px transparent;
  }
}
.btn-action,
.card-body .page-link {
  color: var(--text-decoration);
  background-color: var(--white);
  border: none;
  text-transform: capitalize;
}
.table-action {
  .btn-action:hover,
  .btn-action:active,
  .btn-action:focus {
    background-color: transparent !important;
    border: solid 1px var(--purple-outline);
    outline: none;
  }
}
.bootstrap-table .fixed-table-container .table tbody tr.selected td {
  background-color: transparent;
}
.bootstrap-table {
  .pagination-detail {
    .pagination-info, .page-list {
      font-size: 14px;
      line-height: 24px;
      color: var(--gray600);
      font-weight: 400;
    }
  }
}
.bootstrap-table .fixed-table-pagination>.pagination-detail .pagination-info {
  margin-right: 22px;
}

.btn-action.hover,
.btn-action:hover,
.card-body .page-link:hover {
  color: var(--basic);
  background-color: var(--gray100) !important;
}

.btn-action.focus,
.btn-action:focus,
.card-body .page-link:focus,
.card-body .page-link.focus {
  color: var(--pressed);
  background-color: var(--tabs-btns-icns) !important;
  box-shadow: none;
}

.btn-action.disabled,
.btn-action:disabled {
  color: var(--lines);
  background-color: var(--white);
}

.btn-action.disabled.updating,
.btn-action.updating:disabled {
  color: var(--text-decoration);
  background-color: var(--white) !important;
  box-shadow: none;
}

.btn-action.disabled.updating i,
.btn-action.updating:disabled i {
  display: none;
}

.btn-action:not(:disabled):not(.disabled).active,
.btn-action:not(:disabled):not(.disabled):active,
.show > .btn-action.dropdown-toggle,
.card-body .page-link:not(:disabled):not(.disabled):active,
.card-body .page-link:not(:disabled):not(.disabled).active,
.card-body .page-item.active a {
  color: var(--pressed);
  background-color: var(--tabs-btns-icns) !important;
  box-shadow: none;
}

.btn-action:not(:disabled):not(.disabled).active:focus,
.btn-action:not(:disabled):not(.disabled):active:focus,
.show > .btn-action.dropdown-toggle:focus,
.card-body .page-link:not(:disabled):not(.disabled):active:focus,
.card-body .page-link:not(:disabled):not(.disabled).active:focus {
  box-shadow: none;
}

.rounded-circle {
  border-radius: 50% !important;
}

.custom-toggle {
  position: relative;
  display: inline-block;
  width: 32px;
  height: 18px;
  margin-top: 3px;
}

.custom-toggle input {
  display: none;
}

.custom-toggle input:checked + .custom-toggle-slider {
  background-color: var(--basic);
  border: 1px solid var(--basic);
}

.custom-toggle input:checked + .custom-toggle-slider:before {
  background-color: var(--white);
  transform: translateX(14px);
}

.custom-toggle input:disabled + .custom-toggle-slider {
  border: 1px solid var(--disabled);
}

.custom-toggle input:disabled:checked + .custom-toggle-slider {
  border: 1px solid var(--disabled);
}

.custom-toggle input:disabled:checked + .custom-toggle-slider:before {
  background-color: var(--lines);
}

.custom-toggle-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid var(--lines);
  border-radius: 32px !important;
  background-color: var(--lines);
}

.custom-toggle-slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 1px;
  bottom: 1px;
  border-radius: 50% !important;
  background-color: var(--white);
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.btn-basic:disabled:hover,
.btn-basic:disabled {
  background: var(--gray400);
}

.select-primary {
  background: var(--basic);
  color: white;
}
.select-secondary {
  background: white;
  color: var(--basic);
  border: 1px solid var(--basic);
}
.bootstrap-select {
  .select-primary {
    background: var(--basic);
    color: white;
    &:hover {
      background: var(--purple-hover);
    }
  }
  &.show {
    .select-primary {
      background: var(--pressed);
    }
  }
}

.bootstrap-select.disabled {
  .select-primary {
    background: var(--gray400);
  }
}

.btn-default {
  color: var(--basic);
  &:hover {
    color: var(--basic);
    border: 1px solid var(--purple-outline);
  }
  &:active {
    color: var(--basic);
    border: 1px solid var(--pressed);
  }
  &:disabled{
    color: var(--disabled);
    border: 1px solid transparent;
  }
}

.btn-painted {
  color: var(--text-color);
  border: 1px solid var(--brd-color);
  &:hover {
    color: var(--text-color);
    box-shadow: 0px 2px 4px rgba(203, 39, 39, 0.1), 0px 1px 12px rgba(190, 29, 29, 0.08);
  }
  &:active, &:focus {
    color: var(--text-color);
    border: 1px solid var(--text-color);
  }
  &:disabled {
    color: var(--disabled);
    border: 1px solid var(--disabled);
  }
}
.btn-icon__lg {
  width: 40px;
  padding: 0;
}

.btn-icon {
  width: 32px;
  padding: 0;
}

.btn-icon__sm {
  width: 28px;
  padding: 0;
}
.btn-xs {
  height: 24px;
  font-size: 11px;
  padding: 2px 7px;
}
.btn-icon__xs {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px !important;
  height: 24px !important;
  padding: 0;
}
.btn-table {
  color: var(--gray600);
}
.select__sm {
  .btn {
    height: 28px;
    font-size: 12px;
    line-height: 16px;
  }
}

.br-left {
  border-radius: 5px 0 0 5px;
}
.btn.btn-back {
  padding: 0 10px 0 0;
  .icon_arrow-back:after {
    content: url("/static/assets/ico/arrow-back.svg");
  }
}
