$gray000: #FAFBFD;
$gray50: #fbfeff;
$gray100: #f6f9fc;
$gray100: #f6f9fc;
$gray200: #eef3f6;
$gray300: #dbe2e8;
$gray400: #cad1d7;
$gray500: #abb3b9;
$gray600: #757f99;
$gray700: #525F7F;
$gray800: #32325d;

$purple-basic: #5933C6;

.text-gray-700 {
  color: $gray700 !important;
}

.text-gray-600 {
  color: $gray600 !important;
}

.text-purple {
  color: $purple-basic !important;
}

.text-gray-800 {
  color: $gray800;
}

.text-gray-500 {
  color: $gray500;
}

.bg-gray-000 {
  background: $gray000;
}
