$gray50: #fbfeff;
$gray100: #f6f9fc;
$gray100: #f6f9fc;
$gray200: #eef3f6;
$gray300: #dbe2e8;
$gray400: #cad1d7;
$gray500: #abb3b9;
$gray600: #757f99;
$gray700: #525F7F;
$gray800: #32325d;

.text-gray-600 {
  color: $gray600;
}

.text-gray-500 {
  color: $gray500;
}