body.th-dark {
  background-color: $bg-body-dark;
}
/* nav */
.th-dark .main-nav{
  background-color: $bg-dark;
}
.th-dark .main-nav .nav-link {
  color: #C8CCD6;
}
.th-dark .main-nav .nav-link.active {
  color: #F3F3F3;
}
/* card */
.th-dark {
  .card-gray {
    border: solid 1px #4E525D;
    color: #F3F3F3;
  }
  .welcome-card-body {
    background-color: $bg-dark;
  }
  .welcome-card-body p {
    color: #F3F3F3;
  }
  .space-progress {
    background: #2D3139;
  }
  .storage-container {
    border-top: solid 1px #4E525D !important;
  }
  .border-b {
    border-bottom: solid 1px #4E525D !important;
  }
}
.th-dark .card .card-header, .th-dark .card:not(.integration_card),
.th-dark .card-health.card-health__grey {
  background-color: $bg-dark;
}
.th-dark .card-orange {
  background-color: $bg-dark !important;
}
.th-dark .card-health.card-health__grey {
  border: solid 1px #C8CCD6;
}
.th-dark .btn-chapters {
  color: #C8CCD6;
  background-color: $bg-dark;
  border: solid 1px #4E525D !important;
}
.th-dark h1, .th-dark h2, .th-dark h3, .th-dark h4, .th-dark h5, .th-dark h6, .th-dark h9, .th-dark h13, .th-dark .form-control-label,
.th-dark .font-h1, .th-dark .font-h2, .th-dark .font-h3, .th-dark .font-h4, .th-dark .font-h5, .th-dark .font-h6,
.th-dark .form-group label {
  color: #C8CCD6 !important;
}
/* dropdown */
.th-dark .bootstrap-select:hover .dropdown-toggle:not(.btn-chapters):not(.btn-border-none) {
  border: 1px solid #ACAFB8 !important;
}
.th-dark .dropdown_simple-list .item__left {
  border-right: solid 1px #4E525D !important;
}
.th-dark .dropdown-menu .dropdown-menu_item:hover {
  background: #2D3139;
  color: #F3F3F3;
}
.th-dark .fixed-table-pagination .dropdown-menu {
  min-width: auto !important;
}
.th-dark .dropdown-menu {
  color: #C8CCD6;
  background-color: #20242B;
  border: 1px solid #2D3139;
}
.th-dark .dropdown-item {
  color: #C8CCD6;
}
.th-dark .dropdown-item.active {
  background-color: #2F333A;
}
.th-dark .dropdown-item.active.selected {
  background: transparent;
}
.th-dark .dropdown-item:focus,
.th-dark .dropdown-item:hover {
  background: #2D3139;
  color: #F3F3F3;
}
/* select */
.th-dark {
  .btn-light, .show > .btn-light.dropdown-toggle, .btn-light:not(:disabled):not(.disabled):active {
    color: #C8CCD6;
    background-color: #191d22;
    border: solid 1px transparent !important;
  }
}
.th-dark .bootstrap-select__b {
  background-color: #191d22;
  border: solid 1px #4E525D !important;
}
.th-dark .bootstrap-select > .dropdown-toggle.bs-placeholder,
.th-dark .bootstrap-select > .dropdown-toggle.bs-placeholder:active,
.th-dark .bootstrap-select > .dropdown-toggle.bs-placeholder:focus,
.th-dark .bootstrap-select > .dropdown-toggle.bs-placeholder:hover {
  color: #C8CCD6 !important;
}
.th-dark .bootstrap-select .filter-option {
  color: #C8CCD6 !important;
}
/* table */
.th-dark {
  .fixed-columns, .fixed-columns-right {
    background-color: #191d22 !important;
  }
  .table-transparent.table-bordered tbody tr {
    border-bottom: 1px solid #282C34 !important;
  }
  .table tbody tr a.dropdown-item span {
    color: inherit;
  }
  .table-hover tbody tr.detail-view:hover {
    background-color: #212529;
  }
  .bootstrap-table .fixed-table-container.fixed-height:not(.has-footer) {
    border-bottom: 1px solid #282C34;
  }
  .params-table tbody tr {
    border-top: 1px solid #282C34 !important;
  }
  .params-table tbody {
    border-bottom: 1px solid #282C34 !important;
  }
  .table .dropdown-toggle:not(.btn-colored) {
    background: transparent !important;
  }
  .dropdown-toggle:disabled {
    background: transparent;
  }
  .card-body .table tr.empty-row__error {
    background-color: #fa5e5e;
  }
}
.th-dark .thead-light th {
  background-color: #20242B !important;
  color: #C8CCD6 !important;
}

.th-dark .card-body .table tr {
  border-bottom: 1px solid #282C34 !important;
}

.th-dark .table-border {
  border: 1px solid #282C34 !important;
}

.th-dark .thead-light th {
  border-top: 1px solid #282C34 !important;
  border-bottom: 1px solid #282C34 !important;
}
.th-dark .table tbody tr td {
  color: #F3F3F3;
}
.th-dark .table-hover tbody tr:hover {
  background-color: #15181C;
}
.th-dark .card-body .page-link {
  color: #ACAFB8;
  background-color: #191d22;
}
.th-dark .card-body .page-item.active a, .th-dark .card-body .page-link:hover {
  color: #F3F3F3 !important;
  background-color: #282C34 !important;
}

.th-dark .fixed-table-pagination .btn-secondary,
.th-dark .fixed-table-pagination .btn-secondary:not(:disabled):hover {
  color: #C8CCD6 !important;
  background-color: #191d22 !important;
  border: none !important;
}
.th-dark .pagination-info,
.th-dark .page-list {
  color: #C8CCD6 !important;
}
.th-dark tr.highlight {
  border-top: 1px solid #282C34;
  border-bottom: 1px solid #282C34;
  cursor: pointer;
  background-color: #15181C;
  color: #F3F3F3 !important;
}
.th-dark tr.highlight .ticket-title .title {
  color: white !important;
  font-weight: bold;
}
.th-dark tr .ticket-title .title {
  color: #F3F3F3 !important;
}
.th-dark .ticket-view {
  background: #191d22 !important;
  color: #F3F3F3 !important;
}
.th-dark .table-logs td {
  color: #F3F3F3;
}
.th-dark {
  .ticket-header {
    color: #F3F3F3;
  }
  .ticket-type {
    color: #F3F3F3;
  }
  .row-value .value {
    font-weight: 400;
    color: #F3F3F3;
  }
  .note-editable {
    color: #F3F3F3;
  }
  .activity-container {
    background: transparent;
  }
}
/* buttons */
.th-dark {
  .btn-basic {
    .icon__18x18 {
      background-color: white !important;
    }
  }
  .btn-table i {
    color: #ACAFB8;
  }
  .text-disabled {
    color: #525F7F !important;
  }
  .btn-action:focus {
    background-color: transparent !important;
  }
  .btn-painted:not(.rounded-pill) {
    background-color: #191d22 !important;
    border-color: rgba(215, 22, 22, 0.3) !important;
  }
  .btn-painted.rounded-pill {
    background-color: #191d22 !important;
  }
  .btn-painted:hover {
    background-color: #20242B !important;
  }
  .dropdown_action.show .btn-default {
    border-color: #4E525D;
  }
  .btn-action, .integration_card {
    background-color: #20242B;
    border: solid 1px #4E525D;
  }
  .btn-action:hover, .btn-action:not(:disabled):not(.disabled):active, .integration_card:hover {
    background-color: #2F333A!important;
  }
  .integration_card .badge-grey {
    background: #414850;
  }
  .btn-secondary, .btn-secondary:not(:disabled):active {
    background-color: #191d22 !important;
    border: 1px solid #4E525D !important;
    color: #C8CCD6;
  }
  .btn-secondary:not(:disabled):hover {
    color: #C8CCD6 !important;
    background-color: #20242B !important;
    border: 1px solid #686C76 !important;
  }
  .btn-secondary:disabled {
    color: #686C76;
    background-color: #20242c !important;
    border: 1px solid #2D3139 !important;
  }
  .icon-check__16 {
    background-image: url(../../../assets/ico/check-white.svg);
    background-repeat: no-repeat;
  }
  .btn:hover .icon__16x16:not(.icon__white),
  .btn:hover .icon__18x18:not(.icon__white) {
    background-color: #C8CCD6;
  }
  #userDropDown .icon-user {
    background-color: #C8CCD6;
  }
  #userDropDown:hover {
    border: 1px solid #4E525D !important;
  }
  .active-mode {
    color: #F3F3F3;
  }
  .spinner-loader {
    background: url(../../../assets/ico/loading-white.svg) no-repeat;
  }
}
.th-dark .btn-icon__purple .icon__18x18:not(.icon__white),
.th-dark .btn-icon__purple .icon__16x16:not(.icon__white),
.th-dark .btn-icon__purple .icon__14x14:not(.icon__white) {
  background-color: #C8CCD6 !important;
}
.th-dark .btn-default:hover {
  color: #686C76;
  border: 1px solid #2D3139;
}
/* icons */
.th-dark .dropdown-menu_item .icon__18x18,
.th-dark table tr .icon__18x18, .icon__18x18  {
  background-color: #ACAFB8;
}
.th-dark .close, .th-dark i.fa {
  color: #ACAFB8 !important;
  opacity: 1;
}
.th-dark .btn:hover .icon__18x18:not(.icon__white),
.th-dark .btn:focus .icon__18x18:not(.icon__white),
.th-dark .btn:active .icon__18x18:not(.icon__white), .th-dark .btn-icon__xs .icon__16x16  {
  background-color: #C8CCD6 !important;
}

/* checkbox */
.th-dark {
  .custom-checkbox span{
    color: #F3F3F3;
  }
  .bs-checkbox input[type=checkbox]:not(:checked):before {
    border: 1px solid #4E525D;
    background-color: transparent !important;
  }
  .bs-checkbox input[type=checkbox]:checked:before {
    background-color: var(--purple);
  }
  .custom-checkbox input:before {
    border: solid 1px #4E525D;
    background-color: #20242A;
  }
  .custom-checkbox.custom-checkbox__minus input:before {
    background-color: var(--purple);
  }
}
/* modal */
.th-dark {
  .modal-footer {
    border-top: 1px solid #4E525D;
  }
  .modal-content {
    background-color: #20242B;
  }
  .modal-component .modal-card {
    background: #20242B;
    border: 1px solid #2F333A;
  }
  .modal-dialog {
    .modal-body {
      #message {
        color: #F3F3F3;
      }
    }
  }
}

/* form */

.th-dark {
  .list-group-item {
    background-color: #3c3e44 !important;
  }
  /* input */
  .custom-input label,
  .custom-input .custom-input_desc, .custom-input_desc {
    color: #C8CCD6;
  }
  textarea.form-control {
    background: #191d22 !important;
    color: #C8CCD6 !important;
    border: solid 1px #4E525D !important;
  }
  .form-tags .form-control {
    background-color: transparent;
  }
  .custom-input input {
    background: #191d22 !important;
    color: #C8CCD6 !important;
    border: solid 1px #4E525D !important;
  }
  input.form-control:disabled, input[type=text], .custom-input textarea {
    border: solid 1px #4E525D;
    background-color: #191d22;
    color: #F3F3F3;
  }
  input.form-control, input.form-control-alternative {
    border: solid 1px #4E525D;
    background-color: #191d22;
    color: #F3F3F3;
  }
  input.form-control::placeholder {
    color: #686C76;
  }
  input.form-control:disabled::placeholder {
    color: #ACAFB8;
  }
  /* input-search */
  .custom-input.custom-input_search__sm input{
    background-color: #20242B;
    border: 1px solid #4E525D;
    color: #F3F3F3;
  }
  .custom-input.custom-input_search__sm input::placeholder {
    color: #686C76;
  }
  .btn-select .complex-list_filled {
    color: #C8CCD6;
  }
  #complexList .btn-select {
    border: solid 1px #4E525D;
  }
  .show > .btn-secondary.dropdown-toggle {
    background-color: #191d22 !important;
  }
  .bootstrap-select .dropdown-item.active::after {
    background: url(../../../assets/ico/check-white.svg) no-repeat top right;
  }
  /* toggle */
  .custom-toggle input:not(:checked) + .custom-toggle_slider {
    background-color: #4E525D;
  }
  .custom-toggle input:not(:checked):not(:disabled):hover + .custom-toggle_slider {
    background-color: #686C76;
  }
  /* radio */
  .custom-radio:checked  + label::before {
    background-color: #F3F3F3;
  }
  /* dropdown */
  div[aria-labelledby="userDropDown"] .dropdown-item {
    display: flex;
    align-items: flex-end;
  }
  .dropdown-divider {
    border-top: 1px solid #4E525D;
  }
  .selectpicker-titled .item__left {
    border-top: 1px solid #4E525D;
    border-left: 1px solid #4E525D;
    border-bottom: 1px solid #4E525D;
  }
  .selectpicker-titled .item__right {
    border: 1px solid #4E525D !important;
  }
}
/* tabs */
.th-dark {
  .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #F3F3F3;
    background-color: transparent;
    border-color: #F3F3F3;
  }
  .striped .nav-link {
    color: #ACAFB8;
    border-bottom: 2px solid #4E525D;
  }
  .striped a.nav-link:hover {
    color: #ACAFB8;
    border-bottom: 2px solid #4E525D;
  }
  .nav-pills .nav-item a.active {
    background: #2F333A;
    border: solid 1px #2F333A;
    color: #F3F3F3;
  }
  .nav-pills .nav-item a {
    background: transparent;
    border: solid 1px #2F333A;
    color: #ACAFB8;
  }
  .btn-group.btn-group-toggle {
    .btn-toggle.active {
      background: #2F333A;
      border: solid 1px #2F333A;
      color: #F3F3F3;
    }
    .btn-toggle, .btn-toggle:hover:not(.disabled):not(.active)  {
      background: transparent;
      border: solid 1px #2F333A;
      color: #ACAFB8;
    }
  }
}
/* stepper */
.th-dark {
  .input-stepper button {
    color: #C8CCD6;
    background: transparent;
    i.icon__16x16 {
      background-color: #C8CCD6;
    }
  }
  .input-stepper {
    border: solid 1px #4E525D !important;
    span {
      color: #C8CCD6;
    }
  }
}

/* drag & drop */

.th-dark {
  .preview-area_item {
    background: #191d22;
    border: solid 1px #4E525D !important;
    color: #F3F3F3;
  }
}
/* tooltip */
.th-dark {
  .tooltip.tooltip__custom {
    background: #20242b;
    border-color: #2e2f33;
  }
}

/* editor */
.th-dark {
  .note-editable p {
    color: #F3F3F3;
  }
}
/* calendar */

.th-dark {
  input[type=date] {
    color-scheme: dark;
  }
}

/* kanban */

.th-dark {
  .kanban-board {
    background: #20242B;
    .param-text {
      color: #F3F3F3;
    }
  }
  .ticket-card .ticket-title {
    color: #F3F3F3;
  }
}

/* chart */
.th-dark {
  div#layout_empty-chart {
    background: #2D3139 !important;
  }
  .layout-spinner {
    background: #2D3139;
  }
  .spinner-loader__32x32 {
    background-image: url(../../../assets/ico/loading__white.svg);
  }
}