.dropdown-toggle:disabled {
  background: var(--gray100);
}

.dropdown-menu.show {
  box-shadow: var(--bloc-shadow);
  label {
    font-size: 14px;
    line-height: 24px;
  }
  .dropdown-item {
    font-size: 14px;
    line-height: 24px;
  }
}
.btn-colored-select {
  .dropdown-item {
    font-size: 12px !important;
    line-height: 16px !important;
  }
}
.bootstrap-select .dropdown-toggle:focus,
.bootstrap-select > select.mobile-device:focus + .dropdown-toggle {
  outline: none !important;
  outline-offset: -2px;
}

.bootstrap-select a:focus {
  outline: none !important;
}

.bootstrap-select .dropdown-item {
  display: block;
  width: 100%;
  padding: 6px 16px 6px 16px;
  clear: both;
  font-weight: 400;
  font-size: 14px;
  color: var(--main-text);
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}
.bootstrap-select .dropdown-item i{
  color: var(--gray600) !important;
}

.bootstrap-select .dropdown-item {
  font-weight: 400;
  text-transform: capitalize;
}

.dropdown-item:focus,
.dropdown-item:hover {
  color: var(--main-text);
  text-decoration: none;
  background-color: var(--gray100);
}

.dropdown-item.active,
.dropdown-item:active {
  text-decoration: none;
  font-weight: 400;
  background-color: var(--white);
}

.dropdown-item span {
  width: calc(100% - 16px);
  text-overflow: ellipsis;
}

.bootstrap-select .dropdown-item.active::after,
.bootstrap-select .dropdown-item:active::after {
  content: "";
  display: inline-block;
  background: url("../../../assets/ico/check.svg") no-repeat top right;
  width: 18px;
  height: 12px;
}

.dropdown-item.disabled,
.dropdown-item:disabled {
  color: var(--somegray);
  pointer-events: none;
  background-color: var(--disabled);
}

.bootstrap-select .dropdown-toggle::after {
  content: "";
  display: inline-block;
  background: url("../../../assets/ico/arrow-down.svg") no-repeat center right;
  width: 18px;
  height: 12px;
  border: 0;
}
.bootstrap-select .select-primary.dropdown-toggle::after {
  background: url("../../../assets/ico/arrow-down__white.svg") no-repeat center right;
}
.bootstrap-select .dropdown-toggle.disabled::after {
  background: url("../../../assets/ico/arrow-down__white.svg") no-repeat center right;
}

.table .dropdown-toggle:not(.btn-colored) {
  background: white !important;
}

.bootstrap-select .dropdown-toggle[aria-expanded="true"]::after {
  content: "";
  display: inline-block;
  background: url("../../../assets/ico/arrow-up.svg") no-repeat center right;
  width: 18px;
  height: 12px;
  border: 0;
}

/* dropdown simple-list*/
.dropdown_simple-list {
  .complex-list_empty {
    color: var(--gray500);
  }
  .dropdown-toggle {
    &:hover {
      transition: all .3s;
      border: 1px solid var(--gray400);
      box-shadow: 0 2px 3px rgba(36, 36, 93, 0.1), 0 -1px 1px rgba(36, 36, 93, 0.05);
    }
  }
  .dropdown-menu {
    input[type=checkbox], label {
      cursor: pointer !important;
      li:hover {
        background: var(--gray100);
      }
    }
    i.fa-check {
      color: var(--purple);
      font-size: 8px;
    }
    i {
      color: var(--somegray);
      font-size: 12px;
    }
  }
}

/* dropdown tree-list*/
.dropdown-menu i.fa-sort-down {
  font-size: 14px;
  padding-bottom: 6px;
  cursor: pointer;
  color: var(--gray400);
}
.dropdown_tree-list {
  .complex-list_empty {
    color: var(--gray500);
  }
  .dropdown-toggle {
    &:hover {
      transition: all .3s;
      border: 1px solid var(--gray400);
      box-shadow: 0 2px 3px rgba(36, 36, 93, 0.1), 0 -1px 1px rgba(36, 36, 93, 0.05);
    }
  }
}

.dropdown_tree-list input[type=checkbox]{
  -moz-appearance:none;
  -webkit-appearance:none;
  -o-appearance:none;
}
.dropdown_tree-list .fa-sort-down~label > span {
  margin-left: 40px !important;
}
.dropdown_tree-list input[type=checkbox],
.dropdown_tree-list label
{
  cursor: pointer !important;
}
/* dropdown info */
.dropdown_info {
  .dropdown-toggle {
    color: var(--gray800);
    border: none;
    box-shadow: none;
    &:hover {
      border: none;
      box-shadow: none;
    }
  }
}
.list-circle {
  display: inline-block;
  width: 8px !important;
  height: 8px;
  border-radius: 4px;
  background: var(--bg-color);
  color: transparent;
}
/* dropdown multilevel */

.dropdown_multilevel .dropdown-menu > li:hover > .submenu{
  display: block;
}
.dropdown_multilevel {
  .dropdown-toggle {
    color: var(--gray800);
    &:hover {
      transition: all .3s;
      border: 1px solid var(--gray400);
      box-shadow: 0 2px 3px rgba(36, 36, 93, 0.1), 0 -1px 1px rgba(36, 36, 93, 0.05);
    }
  }
  .dropdown-toggle.btn-select__purple {
    color: var(--gray800);
    &:hover {
      transition: all .3s;
      border: 1px solid var(--basic60);
      box-shadow: 0 2px 3px rgba(36, 36, 93, 0.1), 0 -1px 1px rgba(36, 36, 93, 0.05);
    }
  }
}

.dropdown_multilevel .submenu.submenu__left {
  left: -101%;
}
.dropdown_multilevel .submenu{
  display: none;
  position: absolute;
  left:100%;
  top:-3px;
}
.dropdown_multilevel .dropdown-menu .dropdown-item {
  cursor: pointer;
}
.dropdown_tree-list i.fa-sort-down {
  left: 46px;
}
.dropdown_tree-list label {
  color: var(--gray800);
}
.dropdown-menu .dropdown-menu_item {
  padding: 6px 1rem;
  &:hover {
    background: var(--gray100);
  }
}
.dropdown-menu .dropdown-menu_item:hover .fa-sort-down{
  color: var(--purple);
}
/* complex list*/

.complex-list {
  ul {
    padding-inline-start: 0 !important;
  }
  .dropdown-toggle {
    &_label {
      padding-right: 10px;
      margin-right: 10px;
      color: var(--basic);
      &__just-icon {
        margin-right: 0;
      }
    }
    &_label::after {
      content: '';
      display: inline-block;
      position: absolute;
      top: 0;
      width: 9px;
      border-right: solid 1px var(--purple-outline);
      height: 100%;
    }
    &:hover {
      transition: all .3s;
      border: 1px solid var(--gray400);
      box-shadow: 0 2px 3px rgba(36, 36, 93, 0.1), 0 -1px 1px rgba(36, 36, 93, 0.05);
    }
  }
  &__removable {
    .dropdown-toggle {
      background: var(--gray100);
    }
    .btn-select {
      border: solid 1px transparent;
    }
    &.show {
      .dropdown-toggle {
        border: 1px solid var(--gray400);
        box-shadow: 0 2px 3px rgba(36, 36, 93, 0.1), 0 -1px 1px rgba(36, 36, 93, 0.05) !important;
      }
    }
  }
  &__filter {
    .dropdown-toggle {
      &:hover {
        border: solid 1px var(--purple-outline);
      }
    }
    .btn-select {
      border: solid 1px var(--purple-outline);
      height: 32px;
      font-size: 12px;
    }
    .btn {
      padding: 6px 10px 6px 10px;
    }
    &.show {
      .dropdown-toggle {
        box-shadow: 0 2px 3px rgba(36, 36, 93, 0.1), 0 -1px 1px rgba(36, 36, 93, 0.05) !important;
      }
    }
  }
}

.complex-list label{
  cursor: pointer !important;
}
.complex-list .complex-list_empty {
  color: var(--gray500);
}
.complex-list {
  &_filled, &_empty {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
  }
}

.btn-select {
  border: solid 1px var(--gray400);
  height: 40px;
  &__sm {
    height: 32px;
  }
  &__purple {
    border: solid 1px var(--basic60);
  }
}

.btn-select.dropdown-toggle::after {
  display: inline-block;
  content: "";
  border: none;
  background: url(../../../assets/ico/arrow-down.svg) no-repeat bottom right;
  width: 23px;
  height: 8px;
  vertical-align: 0;
}
.dropdown-toggle_label__just-icon {
  .btn-select.dropdown-toggle::after {
    width: 11px;
    margin-left: 0;
  }
}
.complex-list__removable {
  .btn-select.dropdown-toggle::after {
    position: absolute;
    right: 2.5rem;
  }
  .icon-times {
    color: var(--gray500);
    margin-left: 32px;
  }
  .btn-select {
    height: 32px;
    font-size: 12px;
  }
}

.btn-select.dropdown-toggle[aria-expanded="true"]::after {
  background: url(../../../assets/ico/arrow-up.svg) no-repeat center right;
}
.filter-option-inner-inner > i {
  display: none;
}
.filter-option-inner-inner {
  font-weight: $font-w-400;
}
.dropdown-toggle.select-secondary, .dropdown-toggle.select-primary {
  .filter-option-inner-inner {
    font-weight: 500 !important;
  }
}
/* dropdown actions */
.dropdown_action {
  .dropdown-toggle {
    &::before, &::after {
      display: none;
    }
    i {
      width: 16px;
    }
    &.btn {
      padding: 6px 7px;
    }
  }
  .dropdown-toggle__sm {
    &.btn {
      height: 24px;
      padding: 2px 3px;
      font-size: 12px;
    }
  }
  &.show {
    .btn-secondary.dropdown-toggle {
      border-color: var(--purple);
      i {
        color: var(--purple);
      }
    }
    .btn-default {
      border-color: var(--purple);
      i {
        background: url("../../../assets/ico/icon-user__active.svg") no-repeat;
      }
    }
  }
  &:hover {
    .btn-default {
      i {
        background: url("../../../assets/ico/icon-user__hover.svg") no-repeat;
      }
    }
  }
  .dropdown-item {
    cursor: pointer;
    i {
      color: var(--gray600);
    }
  }
  li {
    font-size: 14px;
    line-height: 24px;
  }
}
/* dropdown-select */
.bootstrap-select {
  .bs-searchbox {
    padding: 4px 16px;
    .form-control{
      height: 32px;
      border: solid 1px var(--gray500);
      border-radius: 4px;
      padding-left: 32px;
      background: url(../../../assets/ico/search.svg) no-repeat 8px 7px;
      &:focus {
        box-shadow: none;
      }
    }
  }
  .no-results {
    background: #fff;
    padding: 4px 16px;
  }
}
.table-selectpicker {
  height: 40px;
  padding: 2px 16px;
  -webkit-appearance: none;
  width: 100%;
  -moz-appearance: none;
  outline: none;
  background: white;
  cursor: pointer;
  background: url(../../../assets/ico/arrow-down.svg) no-repeat;
  background-position:
          calc(100% - 20px) calc(1em + 2px),
          calc(100% - 15px) calc(1em + 2px),
          100% 0;

  &:focus {
    background: url(../../../assets/ico/arrow-up.svg) no-repeat calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    100% 0;
  }
}
option {
  display: inline-block;
  height: 40px !important;
  padding: 8px 16px !important;
  background: red;
}

/* main-select */
.main-select {
  .btn {
    background: var(--purple-active-bg) !important;
    text-transform: uppercase;
    font-weight: bold;
    height: 40px;
    padding-top: 10px;
  }
  .dropdown-toggle::after {
    background: url(/design-system/static/assets/ico/arrow-down__purple.svg) no-repeat center right;
  }
  .btn-projects:hover,
  .btn-projects:active {
    color: white;
    background-color: var(--purple-hover) !important;
    border: 0;
  }
  &.show .btn-projects {
    background-color: var(--basic) !important;
    .dropdown-toggle::after {
      background: transparent;
    }
  }
  .dropdown-toggle:hover::after {
    background: url(../../../assets/ico/arrow-down.svg) no-repeat center right;
  }
  &.show {
    .btn-projects {
      background-color: var(--basic);
      color: white;
    }
    .dropdown-toggle::after {
      background: url(../../../assets/ico/arrow-up.svg) no-repeat center right;
    }
  }
  .dropdown-menu {
    li {
      a {
        font-weight: bold;
        text-transform: uppercase;
      }
      a.active, a:active {
        color: #212529;
      }
    }
  }
}

.dropdown-menu__scroll-area {
  height: 185px;
  overflow: scroll;
}

.selectpicker-titled {
  display: flex;
  align-items: center;
  .item__left {
    padding: 7px 7px;
    border-top: 1px solid var(--basic60);
    border-left: 1px solid var(--basic60);
    border-bottom: 1px solid var(--basic60);
    border-radius: 5px 0 0 5px;
    margin-right: -1px;
    color: var(--basic);
  }
  .item__right {
    border: 1px solid var(--basic60) !important;
    border-radius: 0 5px 5px 0 !important;
    &:hover {
      transition: all 0.3s;
      box-shadow: 0 2px 3px rgb(36 36 93 / 10%), 0 -1px 1px rgb(36 36 93 / 5%) !important;
      border-radius: 0 5px 5px 0 !important;
    }
  }
  //.selectpicker.dropdown-menu-right~.dropdown-menu {
  //  overflow: hidden;
  //  min-height: 120px;
  //  position: absolute;
  //  will-change: transform;
  //  top: 0px;
  //  left: 0px;
  //  transform: translate3d(-5px, 32px, 0px);
  //}
}