.p-2\.5 {
  padding: 0.75rem !important;
}
.pr-2\.5 {
  padding-right: 0.75rem !important;
}
.pl-2\.5 {
  padding-left: 0.75rem !important;
}
.pt-2\.5 {
  padding-top: 0.75rem !important;
}
.pb-2\.5 {
  padding-bottom: 0.75rem !important;
}

.p-2\.25 {
  padding: 10px !important;
}
.pr-2\.25 {
  padding-right: 10px !important;
}
.pl-2\.25 {
  padding-left: 10px !important;
}
.pt-2\.25 {
  padding-top: 10px !important;
}
.pb-2\.25 {
  padding-bottom: 10px !important;
}

/* 20px */
.p-5 {
  padding: 1.25rem;
}
.pr-5  {
  padding-right: 1.25rem;
}
.pl-5  {
  padding-left: 1.25rem;
}
.pt-5  {
  padding-top: 1.25rem;
}
.pb-5  {
  padding-bottom: 1.25rem;
}
.px-5  {
  padding-right: 1.25rem;
  padding-left: 1.25rem;
}
.py-5  {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

/* 24px */
.p-6 {
  padding: 1.5rem;
}
.pr-6  {
  padding-right: 1.5rem;
}
.pl-6  {
  padding-left: 1.5rem;
}
.pt-6  {
  padding-top: 1.5rem;
}
.pb-6  {
  padding-bottom: 1.5rem;
}
.px-6  {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}
.py-6  {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

/* 32px */
.p-8 {
  padding: 2rem;
}
.pr-8  {
  padding-right: 2rem;
}
.pl-8  {
  padding-left: 2rem;
}
.pt-8  {
  padding-top: 2rem;
}
.pb-8  {
  padding-bottom: 2rem;
}
.px-8 {
  padding-right: 2rem;
  padding-left: 2rem;
}
.py-8 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

/* flex-gaps */
.gap-1 {
  gap: 0.25rem;
}
.gap-2 {
  gap: 0.5rem;
}
.gap-3 {
  gap: 0.75rem;
}
.gap-4 {
  gap: 1rem;
}
.gap-50 {
  gap: 50px;
}

/* margin */
.m-2\.5 {
  margin: 0.75rem !important;
}
.mr-2\.5 {
  margin-right: 0.75rem !important;
}
.ml-2\.5 {
  margin-left: 0.75rem !important;
}
.mt-2\.5 {
  margin-top: 0.75rem !important;
}
.mb-2\.5 {
  margin-bottom: 0.75rem !important;
}
.px-2\.5 {
  padding-left: 0.75rem !important;
  padding-right: 0.75rem !important;
}