.custom-input {
  color: var(--gray800);
  .label {
    font-size: 14px !important;
    line-height: 24px;
  }
  .custom-input_desc {
    font-size: 12px;
    line-height: 16px;
    color: var(--gray600);
  }
  input {
    width: 100%;
    padding: 7px 16px;
    border: solid 1px var(--gray500);
    border-radius: 4px;
    outline: none;
    font-size: 14px;
  }
  input:focus {
    box-shadow: 0px 2px 3px rgba(36, 36, 93, 0.1), 0px -1px 1px rgba(36, 36, 93, 0.05);
  }
  input::placeholder {
    color: var(--gray500);
    font-size: 14px;
  }
  &_search {
    input {
      padding-left: 40px;
    }
    .icon-search{
      left: 16px;
      top: 11px;
      color: var(--gray500);
    }
  }
  &_search__sm {
    input {
      padding: 3px 12px 3px 34px;
    }
    .icon-search{
      left: 12px;
      top: 6px;
      color: var(--gray500);
    }
  }
  .input_error-msg {
    display: none;
  }
  &.invalid-input {
    input {
      border-color: var(--error);
      padding-right: 40px;
      background-image: url('../../../../../static/assets/ico/alarm.svg');
      background-repeat: no-repeat;
      background-position: right 18px center;
      background-size: 16px;
    }
    .input_error-msg {
      color: var(--error);
      margin-top: 4px;
      font-size: 12px;
      line-height: 16px;
      display: block;
    }
  }
}

.input-stepper {
  color: var(--gray800);
  border: solid 1px var(--gray500);
  border-radius: 4px;
  display: flex;
  float: left;
  overflow: hidden;

  button:focus {
    outline: 0;
    box-shadow: none;
  }
  button {
    color: var(--gray500);
    font-size: 16px;
    padding: 12px 15px;
    background: white;
    border: none;
  }
  span {
    display: flex;
    align-items: center;
    padding: 0 2px;
    outline: 0;
  }
}

.bootstrap-select {
  &__b {
    border: solid 1px var(--gray400);
    border-radius: 4px;
    .dropdown-toggle {
      height: 40px;
      padding: 10px;
    }
  }
  border: 1px solid transparent;
  .filter-option-inner-inner {
    color: var(--gray700) !important;
  }
  &.show, &:hover {
    transition: all .3s;
    border: 1px solid var(--gray400);
    box-shadow: 0 2px 3px rgba(36, 36, 93, 0.1), 0 -1px 1px rgba(36, 36, 93, 0.05);
    border-radius: 4px;
  }
  .dropdown-toggle:focus {
    outline: none !important;
  }
}

.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
  width: auto;
}
