.table-borderless {
  border: 0;
}

.table-border {
  border: 1px solid var(--lines) !important;
}

.table-border th,
.table-border td,
.table-border thead th,
.table-border tbody + tbody {
  border: 0;
}
.table-hover tbody tr:hover {
  background-color: var(--gray100);
  a {
    color: #2F7DF1;
  }
}
.thead-light th {
  background-color: var(--background) !important;
  border-top: 1px solid var(--lines) !important;
  border-bottom: 1px solid var(--lines) !important;
  text-transform: uppercase;
  font-size: 12px !important;
  color: var(--gray600) !important;
  font-weight: 600;
  .sortable {
    &::after {
      content: '';
      position: relative;
      top: 1px;
      margin-left: 4px;
      display: inline-block;
      background: url("../../../assets/ico/sorting_arrows.svg") no-repeat;
      width: 20px;
      height: 13px;
    }
    &.asc::after {
     background: url("../../../assets/ico/sorting_arrows__down.svg") no-repeat;
    }
    &.desc::after {
      background: url("../../../assets/ico/sorting_arrows__up.svg") no-repeat;
    }
  }
}
.thead-light.bg-transparent th {
  background-color: white !important;
  border-top: none !important;
}
.params-table td {
  padding-top: 0px;
  padding-bottom: 0px;
}

.card-body .table tr {
  border-bottom: 1px solid var(--lines);
}

.card-body table th:first-child .th-inner {
  padding-left: 20px !important;
  padding-right: 4px !important;
}

.card-body table th:last-child .th-inner {
  padding-right: 20px !important;
}

.card-body .table td:first-child {
  padding-left: 20px;
  padding-right: 4px;
}

.card-body .table td:last-child {
  padding-right: 20px;
}

.card-body .table td {
  font-size: 14px;
  font-weight: 400;
  padding-top: 8px;
  padding-bottom: 8px;
}

.card-body .table td {
  line-height: 24px;
}

.card-body .table th {
  line-height: 18px;
}

.card-body .bootstrap-table .fixed-table-container .fixed-table-body {
  height: unset;
  min-height: 247px;
}

.bootstrap-table .fixed-table-container .table thead th .th-inner {
  padding: 11px;
}

.card-body .pagination-info {
  font-size: 12px;
  font-weight: 300;
  padding-left: 20px;
}

.card-table .card-body .pagination-info {
  padding-left: 0px;
}

.card-body ul.pagination {
  padding-right: 20px;
}

.card-table .card-body ul.pagination {
  padding-right: 0px;
}

.card-body ul.pagination li {
  margin-left: 5px;
}

.card-body .page-link {
  font-size: 14px;
  padding: 4px 8px;
  height: 24px !important;
  min-width: 24px;
  max-width: 24px;
  font-weight: 400;
  border-radius: 4px;
}

.card-body table .bs-checkbox input {
  font-size: 24px;
}

td.disabled input {
  pointer-events: none;
  color: var(--main-text);
  background-color: var(--gray100);
  opacity: 1;
}

.params-table .thead-light th {
  background-color: var(--white) !important;
  border-top: 0 !important;
}

.params-table tbody tr {
  border-top: 1px solid var(--lines) !important;
}

.col.sidebar {
  -ms-flex: 0 0 260px;
  flex: 0 0 260px;
}

.bootstrap-table .fixed-table-pagination > .pagination-detail .pagination-info {
  line-height: 24px;
  position: relative;
  top: 3px;
}

.card-table .bootstrap-table .fixed-table-pagination > .pagination-detail,
.card-table .bootstrap-table .fixed-table-pagination > .pagination {
  margin-top: 16px;
  margin-bottom: 20px;
}

.card-table-sm .bootstrap-table .fixed-table-pagination > .pagination-detail,
.card-table-sm .bootstrap-table .fixed-table-pagination > .pagination {
  margin-top: 16px;
  margin-bottom: 20px;
}

.table-list input[type="radio"] {
  display: none;
}

.table-list .bs-checkbox {
  padding: 0;
  max-width: 2px !important;
  width: 2px !important;
}

.table-list tr.selected td {
  background-color: var(--gray100) !important;
}
.table {
  tbody {
    tr {
      td {
        color: var(--gray800);
        font-size: 14px;
        a:hover {
          color: #2F7DF1;
          text-decoration: none;
        }
      }
    }
  }
}
.bs-checkbox  {
  input[type=checkbox] {
    position: relative;
    -webkit-appearance: none;
    &:before {
      content: '';
      display: inline-block;
      width: 16px;
      height: 16px;
      flex-shrink: 0;
      flex-grow: 0;
      border: 1px solid var(--gray400);
      border-radius: 4px;
      background-color: white;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 50% 50%;
      cursor: pointer;
    }
    &:hover:before {
      border: 1px solid var(--gray600);
    }
    &:checked::before {
      border-color: var(--purple);
      background-color: var(--purple);
      background-image: url("../../../assets/ico/check-white.svg");
      background-size: 10px;
    }
    &:checked:not(:disabled):hover:before {
      background-color: var(--purple-hover);
      border-color: var(--purple-hover);
    }
    &:disabled:checked::before {
      background-color: var(--gray400);
      border-color: var(--gray400);
    }
    &:disabled:not(:checked)::before {
      border-color: var(--gray400);
    }
  }
}
.page-item {
  .page-link {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--gray600);
  }
}

.page-list {
  .btn {
    color: var(--gray800);
    border-color: transparent;
    &:hover {
      transition: all .3s;
      border: 1px solid var(--gray400);
      box-shadow: 0 2px 3px rgba(36, 36, 93, 0.1), 0 -1px 1px rgba(36, 36, 93, 0.05);
      border-radius: 4px;
    }
  }
  .btn-secondary:focus {
    border: 1px solid var(--gray400);
  }
  .dropup .dropdown-toggle::after {
    border-bottom: none;
    position: relative;
    top: 5px;
    display: inline-block;
    background: url(../../../assets/ico/arrow-down.svg) no-repeat center right;
    width: 18px;
    height: 12px;
    border: 0;
  }
  .dropup.show .dropdown-toggle::after {
    background: url(../../../assets/ico/arrow-up.svg) no-repeat center right;
  }
}

.table-filter {
  thead {
    tr {
      border: none;
      font-weight: 600;
    }
  }
  tbody {
    tr {
      border: none;
      td {
        padding: 0;
      }
    }
  }
}
.min-w-100 {
  min-width: 100% !important;
}
.modal-component {
  position: fixed;
  z-index: 10000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.2);
  .modal-card {
    width: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 28px;
    border-radius: 4px;
  }
}
.preview-loader {
  animation: load 1.1s infinite linear;
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url("/design-system/static/assets/ico/loading.svg");
}
.preview-loader__white {
  animation: load 1.1s infinite linear;
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url("../../../assets/ico/loading-white.svg");
}
@-webkit-keyframes load {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.table-filter {
  tr {
    td.cell-input {
      vertical-align: top;
    }
    td.cell-icon {
      vertical-align: top;
    }
  }
  .bootstrap-select>select {
    left: 0 !important;
  }
}
.table {
  .bootstrap-select {
    min-width: 100%;
  }
}

.table {
  .detail-icon {
    i.fa-plus::before {
      content: url("/design-system/static/assets/ico/detail-view.svg");
    }
    i.fa-minus::before {
      content: url("/design-system/static/assets/ico/detail-view.svg");
      transform: rotate(180deg);
      display: inline-block;
    }
  }
}
.container-logs {
  height: 450px;
  width: 100%;
  overflow:auto;
  padding: 2rem 0;
  .table-logs {
    tr td {
      white-space: nowrap;
      vertical-align: top;
    }
  }
  .colored-log {
    padding: 0 16px;
    &__INFO {
      color: #18B64D;
    }
    &__WARN {
      color: #DBC714;
    }
    &__ERROR {
      color: #fd8484;
    }
    &__FATAL {
      color: #F32626;
    }
  }
}

.table-card-result tr td {
  vertical-align: baseline;
}

tr.highlight {
  border-left: 2px solid var(--basic);
  border-top: 1px solid var(--gray200);
  border-bottom: 1px solid var(--gray200);
  cursor: pointer;
  background: var(--gray100);
  color: var(--basic);
  td:first-child {
    padding-left: 18px !important;
  }
  td:last-child {
    div {
      display: flex !important;
    }
  }
}

.bootstrap-table {
  .bucket-name {
    width: 124px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
  }
}

.table-fix-thead {
  table {
    display: flex;
    flex-flow: column;
    width: 100%;
  }

  thead {
    flex: 0 0 auto;
  }

  tbody {
    flex: 1 1 auto;
    display: block;
    overflow-y: auto;
    overflow-x: hidden;
  }

  tr {
    width: 100%;
    display: table;
    table-layout: fixed;
  }
  tr:not(.highlight) {
    border-bottom: none !important;
  }
}
