.custom-tabs {
  a {
    text-decoration: none;
    color: $gray600;
    font-weight: $font-w-500;
    font-size: 12px;
    line-height: 24px;
    padding: 8px 16px;
    border-bottom: solid 1px $gray200;
  }
  a.active {
    color: var(--purple);
    border-color: var(--purple);
  }
}

.input-tabs {
  position: absolute;
  bottom: 2px;
  left: 2px;
  a {
    border: solid 1px var(--gray300);
    display: block;
    color: $gray600;
    font-size: 12px;
    line-height: 24px;
    padding: 4px 16px 3px 16px;
    //border: none;
    background: white;
    text-decoration: none;
  }
  .nav-item:first-child a {
    margin-right: -1px;
  }
  .nav-item:first-child a {
    border-radius: 4px 0 0 4px;
  }
  .nav-item:last-child a {
    border-radius: 0 4px 4px 0;
  }
  a.active {
    color: var(--purple);
    background: var(--tabs-btns-icns);
    border: solid 1px var(--purple-outline);
  }
}

.custom-input__tabs {
  position: relative;
}

.custom-input__tabs {
  .form-control.is-invalid~.input-tabs {
    bottom: 33px;
  }
}