.table-borderless {
  border: 0;
}

.table-border {
  border: 1px solid var(--lines) !important;
}

.table-border th,
.table-border td,
.table-border thead th,
.table-border tbody + tbody {
  border: 0;
}

.thead-light th {
  background-color: var(--background) !important;
  border-top: 1px solid var(--lines) !important;
  border-bottom: 1px solid var(--lines) !important;
  text-transform: uppercase;
  font-size: 12px !important;
  color: var(--somegray) !important;
  font-weight: 400;
}

/*
.params-table td input.form-control {
  margin-top: 0px;
  margin-bottom: 0px;
}
*/

.params-table td {
  padding-top: 0px;
  padding-bottom: 0px;
}

.card-body table tr {
  border-bottom: 1px solid var(--lines);
}

.card-body table th:first-child .th-inner {
  padding-left: 20px !important;
  padding-right: 4px !important;
}

.card-body table th:last-child .th-inner {
  padding-right: 20px !important;
}

.card-body table td:first-child {
  padding-left: 20px;
  padding-right: 4px;
}

.card-body table td:last-child {
  padding-right: 20px;
}

.card-body table td {
  font-size: 12px;
  font-weight: 300px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.card-body table td {
  line-height: 18px;
}

.card-table .card-body table td {
  line-height: 32px;
}

.card-table .card-body table th {
  line-height: 24px;
}

.card-body .bootstrap-table .fixed-table-container .fixed-table-body {
  height: unset;
  min-height: 210px;
}

.bootstrap-table .fixed-table-container .table thead th .th-inner {
  padding: 0.5rem;
}

.card-body .pagination-info {
  font-size: 12px;
  font-weight: 300;
  padding-left: 20px;
}

.card-table .card-body .pagination-info {
  padding-left: 0px;
}

.card-body ul.pagination {
  padding-right: 20px;
}

.card-table .card-body ul.pagination {
  padding-right: 0px;
}

.card-body ul.pagination li {
  margin-left: 5px;
}

.card-body .page-link {
  font-size: 12px;
  padding: 4px 8px;
  height: 24px !important;
  min-width: 24px;
  max-width: 24px;
  font-weight: 400;
  border-radius: 4px;
}

.card-body table .bs-checkbox input {
  font-size: 24px;
}

td.disabled input {
  pointer-events: none;
  color: var(--main-text);
  background-color: var(--gray100);
  opacity: 1;
}

.params-table .thead-light th {
  background-color: var(--white) !important;
  border-top: 0 !important;
}

.params-table tbody tr {
  border-top: 1px solid var(--lines) !important;
}

.col.sidebar {
  -ms-flex: 0 0 260px;
  flex: 0 0 260px;
}

.bootstrap-table .fixed-table-pagination > .pagination-detail .pagination-info {
  line-height: 24px;
}

.card-table .bootstrap-table .fixed-table-pagination > .pagination-detail,
.card-table .bootstrap-table .fixed-table-pagination > .pagination {
  margin-top: 25px;
  margin-bottom: 30px;
}

.card-table-sm .bootstrap-table .fixed-table-pagination > .pagination-detail,
.card-table-sm .bootstrap-table .fixed-table-pagination > .pagination {
  margin-top: 20px;
  margin-bottom: 20px;
}

.table-list input[type="radio"] {
  display: none;
}

.table-list .bs-checkbox {
  padding: 0;
  max-width: 2px !important;
  width: 2px !important;
}

.table-list tr.selected td {
  background-color: var(--gray100) !important;
}

.table-list tr.selected td.bs-checkbox {
  background-color: var(--basic) !important;
}
