.font-h1 {
  color: $gray800;
  font-size: 36px;
  line-height: 44px;
  margin-bottom: 0;
}

.font-h2 {
  color: $gray800;
  font-size: 22px;
  line-height: 32px;
  margin-bottom: 0;
}

.font-h3 {
  color: $gray800;
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 0;
}

.font-h4 {
  color: $gray800;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 0;
}

.font-h5 {
  color: $gray800;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
}

.font-h6 {
  font-size: 12px;
  line-height: 16px;
  font-weight: 700;
  margin-bottom: 0;
}

.font-bold {
  font-weight: 700;
}

.font-semibold {
  font-weight: 600;
}

.font-weight-500 {
  font-weight: $font-w-500;
}
.font-weight-400 {
  font-weight: $font-w-400;
}

.font-uppercase {
  text-transform: uppercase;
}

.text-disabled {
  color: $gray400 !important;
}