<main class="d-flex align-items-start">
    {% with active_subsection=payload.theme.active_subsection %}
    {% include 'design-system:aside.html' %}
    {% endwith %}
    <div class="w-100">
        <div class="card mt-3">
            <div class="card-header">
                <div class="row">
                    <div class="col-4">
                        <h1>Cards</h1>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="d-grid grid-column-5 gap-3">
                    <div class="card card-sm card-green">
                        <div class="card-header">card-sm</div>
                        <div class="card-body">card-green</div>
                    </div>
                    <div class="card card-sm card-blue">
                        <div class="card-header">card-sm</div>
                        <div class="card-body">card-blue</div>
                    </div>
                    <div class="card card-sm card-red">
                        <div class="card-header">card-sm</div>
                        <div class="card-body">card-red</div>
                    </div>
                    <div class="card card-sm card-azure">
                        <div class="card-header">card-sm</div>
                        <div class="card-body">card-azure</div>
                    </div>
                    <div class="card card-sm card-magento">
                        <div class="card-header">card-sm</div>
                        <div class="card-body">card-magento</div>
                    </div>
                </div>
                <div class="mt-24">
                    <div class="d-grid grid-column-5 gap-3">
                        <div class="card card-sm card-blue">
                            <div class="card-header">0</div>
                            <div class="card-body">Total pages</div>
                        </div>
                        <div class="card card-sm card-blue">
                            <div class="card-header">0 sec</div>
                            <div class="card-body">AVG PAGE LOAD</div>
                        </div>
                        <div class="card card-sm card-blue">
                            <div class="card-header">0 %</div>
                            <div class="card-body">MISSED THRESHOLDS RATE</div>
                        </div>
                        <div class="card card-sm card-blue">
                            <div class="card-header">1</div>
                            <div class="card-body">LOOPS</div>
                        </div>
                        <div class="card card-sm card-blue">
                            <div class="card-header">max</div>
                            <div class="card-body">AGGREGATION</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="card card-sm-table">
                                <div class="card-body d-flex justify-content-between">
                                    <table>
                                        <tr>
                                            <td class="text-gray-500 font-h6 font-semibold">Status</td>
                                            <td class="font-h5">In progress</td>
                                        </tr>
                                        <tr>
                                            <td class="text-gray-500 font-h6 font-semibold">DURATION</td>
                                            <td class="font-h5">s</td>
                                        </tr>
                                    </table>
                                    <table>
                                        <tr>
                                            <td class="text-gray-500 font-h6 font-semibold">STARTED</td>
                                            <td class="font-h5" id="start_time">30/05/2024, 11:17:06</td>
                                        </tr>
                                        <tr>
                                            <td class="text-gray-500 font-h6 font-semibold">ENDED</td>
                                            <td class="font-h5" id="end_time font-h5">01/01/1970, 03:00:00</td>
                                        </tr>
                                    </table>
                                    <table>
                                        <tr>
                                            <td class="text-gray-500 font-h6 font-semibold">Environment</td>
                                            <td class="font-h5">test</td>
                                        </tr>
                                        <tr>
                                            <td class="text-gray-500 font-h6 font-semibold">Test type</td>
                                            <td class="font-h5">test</td>
                                        </tr>
                                    </table>
                                    <table>
                                        <tr>
                                            <td class="text-gray-500 font-h6 font-semibold">Browser config</td>
                                            <td class="font-h5">Chrome</td>
                                        </tr>
                                        <tr>
                                            <td class="text-gray-500 font-h6 font-semibold">Tags</td>
                                            <td></td>
                                        </tr>
                                    </table>
                                    <div style="width: 100px;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>