<script src="{{ url_for('design-system.static', filename='assets/js/utils.js') }}"></script>
<script src="{{ url_for('design-system.static', filename='assets/vendor/bootstrap-table/bootstrap-table.min.js') }}"></script>
<script src="{{ url_for('design-system.static', filename='assets/js/mock/data-report-filter.js') }}"></script>
<script src="{{ url_for('design-system.static', filename='assets/js/api/api-report-filter.js') }}"></script>
<script src="{{ url_for('design-system.static', filename='assets/js/report-filter.js') }}"></script>
<script src="{{ url_for('design-system.static', filename='assets/js/notification-master/notification.js') }}"></script>
<script src="{{ url_for('design-system.static', filename='assets/js/notifications.js') }}"></script>
