<main class="d-flex align-items-start">
    {% with active_subsection=payload.theme.active_subsection, aside_list=aside_list %}
        {% include 'design-system:aside.html' %}
    {% endwith %}

    <div class="w-100">

        <h1 class="p-3">Tables</h1>

        <div class="flex-container pr-3">
            <div class="flex-item-2">
                <Table-Card
                    header='Left Table'
                    :table_attributes="{
                        'data-url': '/design-system/static/assets/js/mock/data-table.json',
                        'data-pagination': 'true',
                        'data-page-list': '[5, 10, 15, 20]',
                        'data-page-size': 5,
                        'data-side-pagination': 'client',
                        'data-pagination-parts': ['pageInfo', 'pageList']
                    }"
                >
                    <template #actions="{master}">
                        <div class="d-flex justify-content-end">
                            <button type="button" class="btn btn-secondary btn-icon btn-icon__purple mr-2">
                                <i class="icon__18x18 icon-create-element"></i>
                            </button>
                            <button type="button" class="btn btn-secondary btn-icon btn-icon__purple mr-2" @click="master.table_action('refresh')">
                                <i class="fas fa-sync"></i>
                            </button>
                            <button type="button" class="btn btn-secondary btn-icon btn-icon__purple" id="delete_tests"><i
                                    class="icon__18x18 icon-delete"></i>
                            </button>
                        </div>
                    </template>
                    <template #table_headers>
                        <th scope="col" data-checkbox="true"></th>
                        <th data-visible="false" data-field="id">index</th>
                        <th scope="col" data-sortable="true"
                            data-cell-style="table_formatters.name_style"
                            data-field="name"
                        >
                            Name
                        </th>
                        <th scope="col" data-sortable="true"
                            data-cell-style="table_formatters.name_style"
                            data-field="desc">
                            UUID
                        </th>
                        <th scope="col" data-sortable="true"
                            data-cell-style="table_formatters.name_style"
                            data-field="site"
                        >
                            Entrypoint
                        </th>
                        <th scope="col" data-align="right"
                            data-cell-style="table_formatters.cell_style"
                            data-formatter=table_formatters.actions
                            data-events="table_formatters.action_events"
                        >
                            Actions
                        </th>
                    </template>
                </Table-Card>
            </div>
            <div class="flex-item-2">
                <Table-Card
                        header='Right Table'
                        :table_attributes="{
                        'data-url': '/design-system/static/assets/js/mock/data-table.json',
                        'data-pagination': 'true',
                        'data-page-list': '[5, 10, 15, 20]',
                        'data-page-size': 5,
                        'data-side-pagination': 'client',
                        'data-pagination-parts': ['pageInfo', 'pageList']
                    }"
                >
                    <template #actions="{master}">
                        <div class="d-flex justify-content-end">
                            <button type="button" class="btn btn-secondary btn-icon btn-icon__purple mr-2">
                                <i class="icon__18x18 icon-create-element"></i>
                            </button>
                            <button type="button" class="btn btn-secondary btn-icon btn-icon__purple mr-2" @click="master.table_action('refresh')">
                                <i class="fas fa-sync"></i>
                            </button>
                        </div>
                    </template>
                    <template #table_headers>
                        <th scope="col" data-checkbox="true"></th>
                        <th data-visible="false" data-field="id">index</th>
                        <th scope="col" data-sortable="true"
                            data-cell-style="table_formatters.name_style"
                            data-field="name"
                        >
                            Name
                        </th>
                        <th scope="col" data-sortable="true"
                            data-cell-style="table_formatters.name_style"
                            data-field="desc">
                            UUID
                        </th>
                        <th scope="col" data-sortable="true"
                            data-cell-style="table_formatters.name_style"
                            data-field="site"
                        >
                            Entrypoint
                        </th>
                        <th scope="col" data-align="right"
                            data-cell-style="table_formatters.cell_style"
                            data-formatter=table_formatters.action
                            data-events="table_formatters.action_events"
                        >
                            Actions
                        </th>
                    </template>
                </Table-Card>
            </div>
        </div>

        <Table-Card
            header='Row Table'
            :adaptive-height="true"
            :table_attributes="{
                'data-url': '/design-system/static/assets/js/mock/data-table.json',
                'data-pagination': 'true',
                'data-page-list': '[5, 10, 15, 20]',
                'data-page-size': 5,
                'data-side-pagination': 'client',
                'data-pagination-parts': ['pageInfo', 'pageList']
            }"
            container_classes="mt-3 mr-3"
        >
            <template #actions="{master}">
                <div class="d-flex justify-content-end">
                    <button type="button" class="btn btn-secondary btn-icon btn-icon__purple mr-2"
                        @click="master.table_action('refresh')">
                        <i class="fas fa-sync"></i>
                    </button>
                    <button type="button" class="btn btn-secondary btn-icon btn-icon__purple">
                        <i class="icon__18x18 icon-delete"></i>
                    </button>
                </div>
            </template>
            <template #table_headers>
                <th scope="col" data-checkbox="true"></th>
                <th data-visible="false" data-field="id">index</th>
                <th scope="col" data-sortable="true" data-field="name"
                    data-formatter=table_formatters.createLinkToTest>Name</th>
                <th scope="col" data-sortable="true" data-field="start_time">Date</th>
                <th scope="col" data-sortable="true" data-field="duration">Duration</th>
                <th scope="col" data-sortable="true" data-field="vusers">vUsers</th>
                <th scope="col" data-sortable="true" data-field="environment">Env</th>
                <th scope="col" data-sortable="true" data-field="type">Test Type</th>
                <th scope="col" data-sortable="true" data-field="throughput">TPS</th>
                <th scope="col" data-sortable="true" data-field="failure_rate">Fail Rate</th>
                <th scope="col" data-sortable="true" data-field="tags">Tags</th>
                <th scope="col" data-sortable="true" data-field="test_status"
                    data-formatter="table_formatters.reportsStatusFormatter">Status
                </th>
            </template>
        </Table-Card>

        <Table-Card
            header='Row Table In Card'
            :adaptive-height="true"
            :borders="true"
            :table_attributes="{
                'data-url': '/design-system/static/assets/js/mock/data-table.json',
                'data-pagination': 'true',
                'data-page-list': '[5, 10, 15, 20]',
                'data-page-size': 5,
                'data-side-pagination': 'client',
                'data-pagination-parts': ['pageInfo', 'pageList', 'pageSize']
            }"
            container_classes="mt-3 mr-3"
        >
            <template #actions="{master}">
                <div class="d-flex justify-content-end">
                    <button type="button" class="btn btn-secondary btn-icon btn-icon__purple mr-2"
                            @click="master.table_action('refresh')">
                        <i class="fas fa-sync"></i>
                    </button>
                    <button type="button" class="btn btn-secondary btn-icon btn-icon__purple">
                        <i class="icon__18x18 icon-delete"></i>
                    </button>
                </div>
            </template>
            <template #table_headers>
                <th scope="col" data-checkbox="true"></th>
                <th data-visible="false" data-field="id">index</th>
                <th scope="col" data-sortable="true" data-field="name"
                    data-formatter=table_formatters.createLinkToTest>Name</th>
                <th scope="col" data-sortable="true" data-field="start_time">Date</th>
                <th scope="col" data-sortable="true" data-field="duration">Duration</th>
                <th scope="col" data-sortable="true" data-field="vusers">vUsers</th>
                <th scope="col" data-sortable="true" data-field="environment">Env</th>
                <th scope="col" data-sortable="true" data-field="type">Test Type</th>
                <th scope="col" data-sortable="true" data-field="throughput">TPS</th>
                <th scope="col" data-sortable="true" data-field="failure_rate">Fail Rate</th>
                <th scope="col" data-sortable="true" data-field="tags">Tags</th>
                <th scope="col" data-sortable="true" data-field="test_status"
                    data-formatter="table_formatters.reportsStatusFormatter">Status
                </th>
            </template>
        </Table-Card>
        <div class="card my-3 card-table-sm p-4">
            <table
                    class="table table-transparent"
                    id="tests-list-dynamic"
                    data-toggle="table"
                    data-unique-id="id"
                    data-data='{
                        "total": 3,
                        "rows": [
                            {
                                "id": 1,
                                "engine_type": "String",
                                "runners_type": 134,
                                "cpu_type": "blue",
                                "memory_size": "4000"
                            },
                            {
                                "id": 2,
                                "engine_type": "String",
                                "runners_type": 134,
                                "cpu_type": "red",
                                "memory_size": "4000"
                            },
                            {
                                "id": 3,
                                "engine_type": "String",
                                "runners_type": 134,
                                "cpu_type": "yellow",
                                "memory_size": "4000"
                            },
                            {
                                "id": 4,
                                "engine_type": "String",
                                "runners_type": 134,
                                "cpu_type": "blue",
                                "memory_size": "4000"
                            }
                        ]
                }'>
                <thead class="thead-light">
                <tr>
                    <th data-sortable="true" data-field="engine_type" data-formatter="table_formatters.inputDefaultFormatter">ENGINE LOCATION</th>
                    <th data-sortable="true" data-field="runners_type" data-formatter="table_formatters.inputDefaultFormatter">RUNNERS</th>
                    <th data-sortable="true" data-field="cpu_type" data-formatter="table_formatters.selectFormatter"
                        data-values="tableColors">CPU, CORES</th>
                    <th data-sortable="true" data-field="memory_size"
                        data-formatter="table_formatters.selectFormatter"
                        data-values="tableColors">MEMORY, GB</th>
                    <th data-align="right" data-cell-style="cellStyle" data-formatter=table_formatters.action></th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            <div>
                <button class="btn btn-secondary mt-2 d-flex align-items-center" id="create-location">
                    <i class="icon__18x18 icon-create-element mr-2"></i>
                    Add Location
                </button>
            </div>
        </div>
        <table-card
            header='Parameters Table'
            :fixed-height="false"
            :table_attributes="{
                    'data-url': '/design-system/static/assets/js/mock/data-table.json',
                    'data-pagination': 'true',
                    'data-page-list': '[5, 10, 15, 20]',
                    'data-page-size': 5,
                    'data-side-pagination': 'client',
                    'data-pagination-parts': []
                }"
            container_classes="mt-3"
        >
            <template #actions="{master}">
                <div class="d-flex justify-content-end">
                    <button type="button" class="btn btn-secondary btn-sm btn-icon__sm mr-2"><i class="fas fa-plus"></i></button>
                    <button type="button" class="btn btn-secondary btn-sm btn-icon__sm mr-2"><i class="fas fa-sync"></i></button>
                    <button type="button" class="btn btn-secondary btn-sm btn-icon__sm mr-2"><i class="fas fa-trash-alt"></i></button>
                </div>
            </template>
            <template #table_headers>
                <th data-checkbox="true" class="align-top"></th>
                <th data-sortable="true" data-field="name" class="align-top">NAME</th>
                <th data-sortable="true" data-field="site" class="align-top min-w-32" data-formatter="table_formatters.inputDefaultFormatter">SITE</th>
                <th data-sortable="true"
                    data-field="desc"
                    class="w-100 align-top"
                    data-formatter="table_formatters.selectFormatter"
                    data-values="tableColors"
                >DESC</th>
                <th data-sortable="true" data-field="url" class="max-w-176">URL</th>
                <th data-align="right" data-sortable="true">
                    ACTIONS
                </th>
            </template>
        </table-card>
        <div class="flex-container my-3">
            <div class="flex-item-3">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-4">
                                <h4>Buckets</h4>
                            </div>
                            <div class="col-8">
                                <div class="d-flex justify-content-end">
                                    <button type="button" class="btn btn-32 btn-secondary"><i class="fas fa-plus"></i></button>
                                    <button type="button" class="btn btn-32 btn-secondary"><i class="fas fa-sync"></i></button>
                                    <button type="button" class="btn btn-32 btn-secondary"><i class="fas fa-tag"></i></button>
                                    <button type="button" class="btn btn-32 btn-secondary" disabled><i class="fas fa-trash-alt"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <select class="selectpicker bootstrap-select__b m-3" data-style="btn">
                        <option>Mustard</option>
                        <option>Ketchup</option>
                        <option>Relish</option>
                    </select>
                    <ul class="custom-nav flex-column">
                        <li class="custom-nav_item d-flex justify-content-between align-items-center">
                            <a class="" href="#">Modals</a>
                            <button class="btn btn-default btn-xs btn-table btn-icon__xs mr-2">
                                <i class="fas fa-sync"></i>
                            </button>
                            <button class="btn btn-default btn-xs btn-table btn-icon__xs">
                                <i class="fas fa-trash-alt"></i>
                            </button>
                        </li>
                        <li class="custom-nav_item d-flex justify-content-between align-items-center active">
                            <a class="" href="#">Tooltips</a>
                            <button class="btn btn-default btn-xs btn-table btn-icon__xs mr-2">
                                <i class="fas fa-sync"></i>
                            </button>
                            <button class="btn btn-default btn-xs btn-table btn-icon__xs">
                                <i class="fas fa-trash-alt"></i>
                            </button>
                        </li>
                        <li class="custom-nav_item d-flex justify-content-between align-items-center">
                            <a class="" href="#">Drag & Drop</a>
                            <button class="btn btn-default btn-xs btn-table btn-icon__xs mr-2">
                                <i class="fas fa-sync"></i>
                            </button>
                            <button class="btn btn-default btn-xs btn-table btn-icon__xs">
                                <i class="fas fa-trash-alt"></i>
                            </button>
                        </li>
                        <li class="custom-nav_item d-flex justify-content-between align-items-center">
                            <a class="" href="#">Slider</a>
                            <button class="btn btn-default btn-xs btn-table btn-icon__xs mr-2">
                                <i class="fas fa-sync"></i>
                            </button>
                            <button class="btn btn-default btn-xs btn-table btn-icon__xs">
                                <i class="fas fa-trash-alt"></i>
                            </button>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="flex-item-3">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-4">
                                <h4>Buckets</h4>
                            </div>
                            <div class="col-8">
                                <div class="d-flex justify-content-end">
                                    <button type="button" class="btn btn-32 btn-secondary"><i class="fas fa-plus"></i></button>
                                    <button type="button" class="btn btn-32 btn-secondary"><i class="fas fa-sync"></i></button>
                                    <button type="button" class="btn btn-32 btn-secondary"><i class="fas fa-tag"></i></button>
                                    <button type="button" class="btn btn-32 btn-secondary" disabled><i class="fas fa-trash-alt"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <select class="selectpicker bootstrap-select__b m-3" data-style="btn">
                        <option>Mustard</option>
                        <option>Ketchup</option>
                        <option>Relish</option>
                    </select>
                    <ul class="custom-nav flex-column">
                        <li class="custom-nav_item d-flex justify-content-between align-items-center">
                            <a class="" href="#">Modals</a>
                            <button class="btn btn-default btn-xs btn-table btn-icon__xs mr-2">
                                <i class="fas fa-sync"></i>
                            </button>
                            <button class="btn btn-default btn-xs btn-table btn-icon__xs">
                                <i class="fas fa-trash-alt"></i>
                            </button>
                        </li>
                        <li class="custom-nav_item d-flex justify-content-between align-items-center active">
                            <a class="" href="#">Tooltips</a>
                            <button class="btn btn-default btn-xs btn-table btn-icon__xs mr-2">
                                <i class="fas fa-sync"></i>
                            </button>
                            <button class="btn btn-default btn-xs btn-table btn-icon__xs">
                                <i class="fas fa-trash-alt"></i>
                            </button>
                        </li>
                        <li class="custom-nav_item d-flex justify-content-between align-items-center">
                            <a class="" href="#">Drag & Drop</a>
                            <button class="btn btn-default btn-xs btn-table btn-icon__xs mr-2">
                                <i class="fas fa-sync"></i>
                            </button>
                            <button class="btn btn-default btn-xs btn-table btn-icon__xs">
                                <i class="fas fa-trash-alt"></i>
                            </button>
                        </li>
                        <li class="custom-nav_item d-flex justify-content-between align-items-center">
                            <a class="" href="#">Slider</a>
                            <button class="btn btn-default btn-xs btn-table btn-icon__xs mr-2">
                                <i class="fas fa-sync"></i>
                            </button>
                            <button class="btn btn-default btn-xs btn-table btn-icon__xs">
                                <i class="fas fa-trash-alt"></i>
                            </button>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="flex-item-3">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-4">
                                <h4>Buckets</h4>
                            </div>
                            <div class="col-8">
                                <div class="d-flex justify-content-end">
                                    <button type="button" class="btn btn-32 btn-secondary"><i class="fas fa-plus"></i></button>
                                    <button type="button" class="btn btn-32 btn-secondary"><i class="fas fa-sync"></i></button>
                                    <button type="button" class="btn btn-32 btn-secondary"><i class="fas fa-tag"></i></button>
                                    <button type="button" class="btn btn-32 btn-secondary" disabled><i class="fas fa-trash-alt"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <select class="selectpicker bootstrap-select__b m-3" data-style="btn">
                        <option>Mustard</option>
                        <option>Ketchup</option>
                        <option>Relish</option>
                    </select>
                    <ul class="custom-nav flex-column">
                        <li class="custom-nav_item d-flex justify-content-between align-items-center">
                            <a class="" href="#">Modals</a>
                            <button class="btn btn-default btn-xs btn-table btn-icon__xs mr-2">
                                <i class="fas fa-sync"></i>
                            </button>
                            <button class="btn btn-default btn-xs btn-table btn-icon__xs">
                                <i class="fas fa-trash-alt"></i>
                            </button>
                        </li>
                        <li class="custom-nav_item d-flex justify-content-between align-items-center active">
                            <a class="" href="#">Tooltips</a>
                            <button class="btn btn-default btn-xs btn-table btn-icon__xs mr-2">
                                <i class="fas fa-sync"></i>
                            </button>
                            <button class="btn btn-default btn-xs btn-table btn-icon__xs">
                                <i class="fas fa-trash-alt"></i>
                            </button>
                        </li>
                        <li class="custom-nav_item d-flex justify-content-between align-items-center">
                            <a class="" href="#">Drag & Drop</a>
                            <button class="btn btn-default btn-xs btn-table btn-icon__xs mr-2">
                                <i class="fas fa-sync"></i>
                            </button>
                            <button class="btn btn-default btn-xs btn-table btn-icon__xs">
                                <i class="fas fa-trash-alt"></i>
                            </button>
                        </li>
                        <li class="custom-nav_item d-flex justify-content-between align-items-center">
                            <a class="" href="#">Slider</a>
                            <button class="btn btn-default btn-xs btn-table btn-icon__xs mr-2">
                                <i class="fas fa-sync"></i>
                            </button>
                            <button class="btn btn-default btn-xs btn-table btn-icon__xs">
                                <i class="fas fa-trash-alt"></i>
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="d-flex pb-4">
            <div class="w-100-imp">
                <select class="selectpicker bootstrap-select__b" data-style="btn">
                    <option>Mustard</option>
                    <option>Ketchup</option>
                    <option>Relish</option>
                </select>
            </div>
            <div class="ml-3">
                <input-stepper
                    :default-value="100"
                ></input-stepper>
            </div>
            <div class="ml-3">
                <input-stepper
                    :default-value="15"></input-stepper>
            </div>
            <div class="custom-input ml-3">
                <input
                    type="text"
                    placeholder="Text">
            </div>
        </div>
    </div>

</main>