<main class="d-flex align-items-start">
    {% with active_subsection=payload.theme.active_subsection, aside_list=aside_list %}
        {% include 'design-system:aside.html' %}
    {% endwith %}

    <div class="w-100">
        <div class="card mt-3 card-table">
            <div class="card-body">
                <div class="pt-4" id="vueApp">
                    <div class="d-flex justify-content-between">
                        <h1 class="font-h2">Summary</h1>
                        <modal-save-preset
                            v-if="showModal"
                            @save-preset-as="savePresetAs"
                            @open-modal="openModal"
                            @save-new-preset="saveNewPreset"
                            :loading="loadingSaveAs"
                        ></modal-save-preset>
                        <confirm-modal
                            v-if="showConfirm"
                            @close-confirm="openConfirm"
                            :deleted-preset="prepearDeletedPreset"
                            @delete-preset="deletePreset"
                            :loading-delete="loadingDelete"
                        ></confirm-modal>
                        <div class="d-flex ">
                            <choose-preset
                                :loading-presets="loadingPresets"
                                :items="presets"
                                @open-confirm="openConfirm"
                                @select-preset="selectPreset"
                                @select-default="selectDefault"
                                :selected-preset="selectedPreset"
                            ></choose-preset>
                            <edit-preset
                                @save="savePreset"
                                @open-modal="openModal"
                                @create-new-preset="prepearNewPreset"
                                @reset-to-default="resetToDefault"
                                :loading-save="loadingSave"
                                :selected-preset="selectedPreset"
                            ></edit-preset>
                        </div>
                    </div>
                    <div v-if="loadingTable" class="d-flex align-items-center justify-content-center" style="height: 270px">
                        <i class="preview-loader"></i>
                    </div>
                    <table
                        id="table"
                        class="table table-border mt-4"
                        data-pagination="true"
                        data-page-list="[5, 10, 15]"
                        data-pagination-pre-text="<img src='/design-system/static/assets/ico/arrow_left.svg'>"
                        data-pagination-next-text="<img src='/design-system/static/assets/ico/arrow_right.svg'>"
                        data-page-size=5>
                    </table>
                </div>
            </div>
        </div>
    </div>

</main>