<script src="{{ url_for('design-system.static', filename='assets/js/utils.js') }}"></script>
<script src="{{ url_for('design-system.static', filename='assets/js/mock/data-view-filter.js') }}"></script>
<script src="{{ url_for('design-system.static', filename='assets/js/api/api-view-filter.js') }}"></script>
<script src="{{ url_for('design-system.static', filename='assets/js/notifications.js') }}"></script>
<script src="{{ url_for('design-system.static', filename='assets/js/view-filter.js') }}"></script>
