{{ template_slot("locations_content", payload={"modal_id": "test_locations"}) | safe }}

<main class="d-flex align-items-start">
{#    {{ template_slot('design-system_aside') }}#}
    {% with active_subsection=payload.theme.active_subsection, aside_list=aside_list %}
        {% include 'design-system:aside.html' %}
    {% endwith %}

    <div class="card mt-3 w-100">
        <div class="card-header">
            <h1>Buttons</h1>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-3">
                    <h4 class="pt-2">Buttons 40px</h4>
                    <div class="d-flex">
                        <div class="card w-100 p-4 card-stripped">
                            <h4 class="mb-1">Primary</h4>
                            <div class="d-flex mb-2">
                                <button class="btn btn-basic btn-lg mr-2">Action</button>
                                <button class="btn btn-basic btn-lg mr-2" disabled>Action</button>
                            </div>
                            <h4 class="mb-1">Secondary</h4>
                            <div class="d-flex mb-2">
                                <button class="btn btn-lg btn-secondary mr-2">Action</button>
                                <button class="btn btn-lg btn-secondary" disabled>Action</button>
                            </div>
                            <div class="d-flex my-2">
                                <button class="btn btn-lg btn-basic btn-icon__lg mr-2">
                                    <i class="fas fa-download"></i>
                                </button>
                                <button class="btn btn-lg btn-basic btn-icon__lg" disabled>
                                    <i class="fas fa-download"></i>
                                </button>
                            </div>
                            <h4 class="mb-1">Integration</h4>
                            <div class="d-flex mb-2">
                                <button class="btn btn-lg btn-secondary mr-2">
                                    <i class="fa fa-plus mr-2"></i>
                                    Action
                                </button>
                                <button class="btn btn-lg btn-secondary" disabled>
                                    <i class="fa fa-plus mr-2"></i>
                                    Action
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <h4 class="pt-2">Buttons 32px</h4>
                    <div class="d-flex">
                        <div class="card w-100 p-4 card-stripped">
                            <h4 class="mb-1">Primary</h4>
                            <div class="d-flex mb-2">
                                <button class="btn btn-basic mr-2">Action</button>
                                <button class="btn btn-basic" disabled>Action</button>
                            </div>
                            <div class="d-flex">
                                <select class="selectpicker mr-1" data-style="select-primary">
                                    <option>Mustard</option>
                                    <option>Ketchup</option>
                                    <option>Relish</option>
                                    <option>Some long ass creepy name</option>
                                </select>
                                <select class="selectpicker" disabled data-style="select-primary">
                                    <option>Mustard</option>
                                    <option>Ketchup</option>
                                    <option>Relish</option>
                                    <option>Some long ass creepy name</option>
                                </select>
                            </div>
                            <div class="d-flex my-2">
                                <button class="btn btn-basic btn-icon mr-2">
                                    <i class="fas fa-download"></i>
                                </button>
                                <button class="btn btn-basic btn-icon" disabled>
                                    <i class="fas fa-download"></i>
                                </button>
                            </div>
                            <h4 class="mb-1">Secondary</h4>
                            <div class="d-flex mb-2">
                                <button class="btn btn-secondary mr-2">Action</button>
                                <button class="btn btn-secondary" disabled>Action</button>
                            </div>
                            <div class="d-flex mb-2">
                                <button class="btn btn-painted mr-2 rounded-pill"
                                        style="--text-color: var(--error); --brd-color: var(--red-underline)">Business
                                </button>
                                <button class="btn btn-painted mr-2 rounded-pill"
                                        style="--text-color: var(--success); --brd-color: var(--green-underline)">System
                                </button>
                            </div>
                            <div class="d-flex mb-2">
                                <select class="selectpicker mr-2" data-style="select-secondary">
                                    <option>Mustard</option>
                                    <option>Ketchup</option>
                                    <option>Relish</option>
                                </select>
                                <select class="selectpicker" disabled data-style="select-secondary">
                                    <option>Mustard</option>
                                    <option>Ketchup</option>
                                    <option>Relish</option>
                                </select>
                            </div>
                            <div class="d-flex mb-2">
                                <button class="btn btn-secondary mr-2">
                                    <i class="fa fa-plus mr-2"></i>
                                    Action
                                </button>
                                <button class="btn btn-secondary" disabled>
                                    <i class="fa fa-plus mr-2"></i>
                                    Action
                                </button>
                            </div>
                            <div class="d-flex mb-2">
                                <button class="btn btn-secondary btn-icon mr-2">
                                    <i class="fas fa-download"></i>
                                </button>
                                <button class="btn btn-secondary btn-icon" disabled>
                                    <i class="fas fa-download"></i>
                                </button>
                            </div>
                            <h4 class="mb-1">Tertiary</h4>
                            <div class="d-flex mb-2">
                                <button class="btn btn-default mr-2">Action</button>
                                <button class="btn btn-default mr-2" disabled>Action</button>
                            </div>
                            <h4 class="mb-1">Colored</h4>
                            <div class="d-flex mb-2">
                                <button class="btn btn-painted mr-2"
                                        style="--text-color: rgb(243, 38, 38); --brd-color: rgb(242, 180, 180)">Action
                                </button>
                                <button class="btn btn-painted mr-2" disabled>Action</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <h4 class="pt-2">Buttons 28px</h4>
                    <div class="d-flex">
                        <div class="card w-100 p-4 card-stripped">
                            <h4 class="mb-1">Primary</h4>
                            <div class="d-flex mb-2">
                                <button class="btn btn-sm btn-basic mr-2">Action</button>
                                <button class="btn btn-sm btn-basic" disabled>Action</button>
                            </div>
                            <div class="d-flex mb-2">
                                <select class="selectpicker select__sm mr-1" data-style="select-primary">
                                    <option>Mustard</option>
                                    <option>Ketchup</option>
                                    <option>Relish</option>
                                    <option>Some long ass creepy name</option>
                                </select>
                                <select class="selectpicker select__sm mr-1" disabled data-style="select-primary">
                                    <option>Mustard</option>
                                    <option>Ketchup</option>
                                    <option>Relish</option>
                                    <option>Some long ass creepy name</option>
                                </select>
                            </div>
                            <div class="d-flex mb-2">
                                <button class="btn btn-basic btn-sm btn-icon__sm mr-2">
                                    <i class="fas fa-download"></i>
                                </button>
                                <button class="btn btn-basic btn-sm btn-icon__sm" disabled>
                                    <i class="fas fa-download"></i>
                                </button>
                            </div>

                            <h4 class="mb-1">Secondary</h4>
                            <div class="d-flex mb-2">
                                <button class="btn btn-sm btn-secondary mr-2">Action</button>
                                <button class="btn btn-sm btn-secondary" disabled>Action</button>
                            </div>
                            <div class="d-flex mb-2">
                                <button class="btn btn-sm btn-painted mr-2 rounded-pill"
                                        style="--text-color: var(--error); --brd-color: var(--red-underline)">Business
                                </button>
                                <button class="btn btn-sm btn-painted mr-2 rounded-pill"
                                        style="--text-color: var(--success); --brd-color: var(--green-underline)">System
                                </button>
                            </div>
                            <div class="d-flex mb-2">
                                <select class="selectpicker select__sm mr-2" data-style="select-secondary">
                                    <option>Mustard</option>
                                    <option>Ketchup</option>
                                    <option>Relish</option>
                                </select>
                                <select class="selectpicker select__sm" disabled data-style="select-secondary">
                                    <option>Mustard</option>
                                    <option>Ketchup</option>
                                    <option>Relish</option>
                                </select>
                            </div>
                            <div class="d-flex mb-2">
                                <button class="btn btn-sm btn-secondary mr-2">
                                    <i class="fa fa-plus mr-2"></i>
                                    Action
                                </button>
                                <button class="btn btn-sm btn-secondary" disabled>
                                    <i class="fa fa-plus mr-2"></i>
                                    Action
                                </button>
                            </div>
                            <div class="d-flex mb-2">
                                <button class="btn btn-secondary btn-sm btn-icon__sm mr-2">
                                    <i class="fas fa-download"></i>
                                </button>
                                <button class="btn btn-secondary btn-sm btn-icon__sm" disabled>
                                    <i class="fas fa-download"></i>
                                </button>
                            </div>
                            <h4 class="mb-1">Tertiary</h4>
                            <div class="d-flex mb-2">
                                <button class="btn btn-sm btn-default mr-2">Action</button>
                                <button class="btn btn-sm btn-default" disabled>Action</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <h4 class="pt-2">Buttons 24px</h4>
                    <div class="d-flex">
                        <div class="card w-100 p-4 card-stripped">
                            <h4 class="mb-1">Table icons</h4>
                            <div class="d-flex mb-2">
                                <button class="btn btn-default btn-xs btn-table btn-icon__xs mr-2">
                                    <i class="fas fa-download"></i>
                                </button>
                                <button class="btn btn-default btn-xs btn-table btn-icon__xs mr-2" disabled>
                                    <i class="fas fa-download"></i>
                                </button>
                            </div>
                            <h4 class="mb-1">Table actions</h4>
                            <div class="d-flex mb-2">
                                <button class="btn btn-default btn-xs btn-table btn-icon__xs mr-2">
                                    <i class="fas fa-download"></i>
                                </button>
                                <button class="btn btn-default btn-xs btn-table btn-icon__xs mr-2" disabled>
                                    <i class="fas fa-download"></i>
                                </button>
                            </div>
                            <div class="d-flex mb-2">
                                <button class="btn btn-xs btn-painted mr-2 rounded-pill"
                                        style="--text-color: var(--error); --brd-color: var(--red-underline)">Business
                                </button>
                                <button class="btn btn-xs btn-painted mr-2 rounded-pill"
                                        style="--text-color: var(--success); --brd-color: var(--green-underline)">System
                                </button>
                            </div>
                            <div class="square mb-2">
                                <input type="text" id="coloris" class="square" value="#5933c6">
                            </div>
                            <form class="needs-validation" novalidate onsubmit="event.preventDefault();">
                                <select class="form-select"
                                        id="validationTagsShow"
                                        name="tags_show[]"
                                        multiple
                                        data-allow-new="true"
                                        data-allow-clear="true"
                                        data-show-all-suggestions="true">
                                    <option disabled hidden value="">Type to search or create tag</option>
                                    <option value="1" selected="selected">Apple</option>
                                    <option value="2" selected="selected">Banana</option>
                                    <option value="3" data-badge-style="btn-painted" data-style-color="#2bd48d">Orange</option>
                                    <option value="4">Blueberry</option>
                                    <option value="5">Strawberry</option>
                                </select>
                                <div class="invalid-feedback">Please select a valid tag.</div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>