<main class="d-flex align-items-start">

{#    {{ template_slot('design-system_aside') }}#}
    {% with active_subsection=payload.theme.active_subsection, aside_list=aside_list %}
        {% include 'design-system:aside.html' %}
    {% endwith %}

    <div class="card mt-3 w-100">
        <div class="card-header">
            <h1>Buttons</h1>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-3">
                    <h4 class="pt-2">Buttons 40px</h4>
                    <div class="d-flex">
                        <div class="card w-100 p-4 card-stripped">
                            <h4 class="mb-1">Primary</h4>
                            <div class="d-flex mb-2">
                                <button class="btn btn-basic btn-lg mr-2">Action</button>
                                <button class="btn btn-basic btn-lg mr-2" disabled>Action</button>
                            </div>
                            <h4 class="mb-1">Secondary</h4>
                            <div class="d-flex mb-2">
                                <button class="btn btn-lg btn-secondary mr-2">Action</button>
                                <button class="btn btn-lg btn-secondary" disabled>Action</button>
                            </div>
                            <div class="d-flex my-2">
                                <button class="btn btn-lg btn-basic btn-icon__lg mr-2">
                                    <i class="fas fa-download"></i>
                                </button>
                                <button class="btn btn-lg btn-basic btn-icon__lg" disabled>
                                    <i class="fas fa-download"></i>
                                </button>
                            </div>
                            <h4 class="mb-1">Integration</h4>
                            <div class="d-flex mb-2">
                                <button class="btn btn-lg btn-secondary mr-2">
                                    <i class="fa fa-plus mr-2"></i>
                                    Action
                                </button>
                                <button class="btn btn-lg btn-secondary" disabled>
                                    <i class="fa fa-plus mr-2"></i>
                                    Action
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <h4 class="pt-2">Buttons 32px</h4>
                    <div class="d-flex">
                        <div class="card w-100 p-4 card-stripped">
                            <h4 class="mb-1">Primary</h4>
                            <div class="d-flex mb-2">
                                <button class="btn btn-basic mr-2">Action</button>
                                <button class="btn btn-basic" disabled>Action</button>
                            </div>
                            <div class="d-flex">
                                <select class="selectpicker mr-1" data-style="select-primary">
                                    <option>Mustard</option>
                                    <option>Ketchup</option>
                                    <option>Relish</option>
                                    <option>Some long ass creepy name</option>
                                </select>
                                <select class="selectpicker" disabled data-style="select-primary">
                                    <option>Mustard</option>
                                    <option>Ketchup</option>
                                    <option>Relish</option>
                                    <option>Some long ass creepy name</option>
                                </select>
                            </div>
                            <div class="d-flex my-2">
                                <button class="btn btn-basic btn-icon mr-2">
                                    <i class="fas fa-download"></i>
                                </button>
                                <button class="btn btn-basic btn-icon" disabled>
                                    <i class="fas fa-download"></i>
                                </button>
                            </div>
                            <h4 class="mb-1">Secondary</h4>
                            <div class="d-flex mb-2">
                                <button class="btn btn-secondary mr-2">Action</button>
                                <button class="btn btn-secondary" disabled>Action</button>
                            </div>
                            <div class="d-flex mb-2">
                                <button class="btn btn-painted mr-2 rounded-pill"
                                        style="--text-color: var(--error); --brd-color: var(--red-underline)">Business
                                </button>
                                <button class="btn btn-painted mr-2 rounded-pill"
                                        style="--text-color: var(--success); --brd-color: var(--green-underline)">System
                                </button>
                            </div>
                            <div class="d-flex mb-2">
                                <select class="selectpicker mr-2" data-style="select-secondary">
                                    <option>Mustard</option>
                                    <option>Ketchup</option>
                                    <option>Relish</option>
                                </select>
                                <select class="selectpicker" disabled data-style="select-secondary">
                                    <option>Mustard</option>
                                    <option>Ketchup</option>
                                    <option>Relish</option>
                                </select>
                            </div>
                            <div class="d-flex mb-2">
                                <button class="btn btn-secondary mr-2">
                                    <i class="fa fa-plus mr-2"></i>
                                    Action
                                </button>
                                <button class="btn btn-secondary" disabled>
                                    <i class="fa fa-plus mr-2"></i>
                                    Action
                                </button>
                            </div>
                            <div class="d-flex mb-2">
                                <button class="btn btn-secondary btn-icon mr-2">
                                    <i class="fas fa-download"></i>
                                </button>
                                <button class="btn btn-secondary btn-icon" disabled>
                                    <i class="fas fa-download"></i>
                                </button>
                            </div>
                            <h4 class="mb-1">Tertiary</h4>
                            <div class="d-flex mb-2">
                                <button class="btn btn-default mr-2">Action</button>
                                <button class="btn btn-default mr-2" disabled>Action</button>
                            </div>
                            <h4 class="mb-1">Colored</h4>
                            <div class="d-flex mb-2">
                                <button class="btn btn-painted mr-2"
                                        style="--text-color: rgb(243, 38, 38); --brd-color: rgb(242, 180, 180)">Action
                                </button>
                                <button class="btn btn-painted mr-2" disabled>Action</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <h4 class="pt-2">Buttons 28px</h4>
                    <div class="d-flex">
                        <div class="card w-100 p-4 card-stripped">
                            <h4 class="mb-1">Primary</h4>
                            <div class="d-flex mb-2">
                                <button class="btn btn-sm btn-basic mr-2">Action</button>
                                <button class="btn btn-sm btn-basic" disabled>Action</button>
                            </div>
                            <div class="d-flex mb-2">
                                <select class="selectpicker select__sm mr-1" data-style="select-primary">
                                    <option>Mustard</option>
                                    <option>Ketchup</option>
                                    <option>Relish</option>
                                    <option>Some long ass creepy name</option>
                                </select>
                                <select class="selectpicker select__sm mr-1" disabled data-style="select-primary">
                                    <option>Mustard</option>
                                    <option>Ketchup</option>
                                    <option>Relish</option>
                                    <option>Some long ass creepy name</option>
                                </select>
                            </div>
                            <div class="d-flex mb-2">
                                <button class="btn btn-basic btn-sm btn-icon__sm mr-2">
                                    <i class="fas fa-download"></i>
                                </button>
                                <button class="btn btn-basic btn-sm btn-icon__sm" disabled>
                                    <i class="fas fa-download"></i>
                                </button>
                            </div>

                            <h4 class="mb-1">Secondary</h4>
                            <div class="d-flex mb-2">
                                <button class="btn btn-sm btn-secondary mr-2">Action</button>
                                <button class="btn btn-sm btn-secondary" disabled>Action</button>
                            </div>
                            <div class="d-flex mb-2">
                                <button class="btn btn-sm btn-painted mr-2 rounded-pill"
                                        style="--text-color: var(--error); --brd-color: var(--red-underline)">Business
                                </button>
                                <button class="btn btn-sm btn-painted mr-2 rounded-pill"
                                        style="--text-color: var(--success); --brd-color: var(--green-underline)">System
                                </button>
                            </div>
                            <div class="d-flex mb-2">
                                <select class="selectpicker select__sm mr-2" data-style="select-secondary">
                                    <option>Mustard</option>
                                    <option>Ketchup</option>
                                    <option>Relish</option>
                                </select>
                                <select class="selectpicker select__sm" disabled data-style="select-secondary">
                                    <option>Mustard</option>
                                    <option>Ketchup</option>
                                    <option>Relish</option>
                                </select>
                            </div>
                            <div class="d-flex mb-2">
                                <button class="btn btn-sm btn-secondary mr-2">
                                    <i class="fa fa-plus mr-2"></i>
                                    Action
                                </button>
                                <button class="btn btn-sm btn-secondary" disabled>
                                    <i class="fa fa-plus mr-2"></i>
                                    Action
                                </button>
                            </div>
                            <div class="d-flex mb-2">
                                <button class="btn btn-secondary btn-sm btn-icon__sm mr-2">
                                    <i class="fas fa-download"></i>
                                </button>
                                <button class="btn btn-secondary btn-sm btn-icon__sm" disabled>
                                    <i class="fas fa-download"></i>
                                </button>
                            </div>
                            <h4 class="mb-1">Tertiary</h4>
                            <div class="d-flex mb-2">
                                <button class="btn btn-sm btn-default mr-2">Action</button>
                                <button class="btn btn-sm btn-default" disabled>Action</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <h4 class="pt-2">Buttons 24px</h4>
                    <div class="d-flex">
                        <div class="card w-100 p-4 card-stripped">
                            <h4 class="mb-1">Table icons</h4>
                            <div class="d-flex mb-2">
                                <button class="btn btn-default btn-xs btn-table btn-icon__xs mr-2">
                                    <i class="fas fa-download"></i>
                                </button>
                                <button class="btn btn-default btn-xs btn-table btn-icon__xs mr-2" disabled>
                                    <i class="fas fa-download"></i>
                                </button>
                            </div>
                            <h4 class="mb-1">Table actions</h4>
                            <div class="d-flex mb-2">
                                <button class="btn btn-default btn-xs btn-table btn-icon__xs mr-2">
                                    <i class="fas fa-download"></i>
                                </button>
                                <button class="btn btn-default btn-xs btn-table btn-icon__xs mr-2" disabled>
                                    <i class="fas fa-download"></i>
                                </button>
                            </div>
                            <div class="d-flex">
                                <button class="btn btn-xs btn-painted mr-2 rounded-pill"
                                        style="--text-color: var(--error); --brd-color: var(--red-underline)">Business
                                </button>
                                <button class="btn btn-xs btn-painted mr-2 rounded-pill"
                                        style="--text-color: var(--success); --brd-color: var(--green-underline)">System
                                </button>
                            </div>
                            <div class="d-flex mt-2">
                                <button class="btn btn-back">
                                    <i class="icon_arrow-back"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <h4 class="pt-2">Button tags</h4>
            <div class="d-flex">
                <div class="card w-100 mr-2 card-stripped">
                    <div class="d-flex m-4">
                        <a class="btn btn-basic mr-2" href="#" role="button">Link</a>
                        <button class="btn btn-basic mr-2" type="submit">Button</button>
                        <input class="btn btn-basic mr-2" type="button" value="Input">
                        <input class="btn btn-basic mr-2" type="submit" value="Submit">
                        <input class="btn btn-basic mr-2" type="reset" value="Reset">
                    </div>
                </div>
                <div class="card w-100 ml-2 card-sm">
                    <h12>
                        Buttons with class btn-basic of tags a, button, input
                    </h12>
                </div>
            </div>
            <h4 class="pt-2">Button sizes</h4>
            <div class="d-flex">
                <div class="card w-100 mr-2 card-stripped">
                    <div class="d-flex m-4">
                        <button class="btn btn-lg btn-basic mr-2" type="submit">.btn .btn-lg</button>
                        <button class="btn btn-basic mr-2" type="submit">.btn</button>
                        <button class="btn btn-sm btn-basic mr-2" type="submit">.btn .btn-sm</button>
                    </div>
                </div>
                <div class="card w-100 ml-2 card-stripped">
                    <div class="d-flex m-4">
                        <button class="btn btn-lg btn-secondary mr-2" type="submit">.btn .btn-lg</button>
                        <button class="btn btn-secondary mr-2" type="submit">.btn</button>
                        <button class="btn btn-sm btn-secondary mr-2" type="submit">.btn .btn-sm</button>
                    </div>
                </div>
            </div>
            <h4 class="pt-2">Buttons</h4>
            <div class="card card-stripped">
                <div class="d-flex vertical-center m-4">
                    <h6 class="m-0">By class: </h6>
                    <button type="button" class="btn btn-primary mr-2">Primary</button>
                    <button type="button" class="btn btn-basic mr-2">Basic</button>
                    <button type="button" class="btn btn-secondary mr-2">Secondary</button>
                    <button type="button" class="btn btn-warning mr-2">Warning</button>
                    <button type="button" class="btn btn-danger mr-2">Danger</button>
                </div>
                <div class="d-flex vertical-center m-4">
                    <h6 class="m-0">default/hover/active/disabled (secondary and 32): </h6>
                    <button type="button" class="btn btn-secondary btn-32"><i class="fas fa-download"></i></button>
                    <button type="button" class="btn btn-secondary btn-32 hover"><i
                            class="fas fa-download"></i></button>
                    <button type="button" class="btn btn-secondary btn-32 active"><i
                            class="fas fa-download"></i></button>
                    <button type="button" class="btn btn-secondary btn-32 disabled"><i
                            class="fas fa-download"></i></button>
                    <button type="button" class="btn btn-basic btn-32"><i class="fas fa-cog"></i></button>
                    <button type="button" class="btn btn-basic btn-32 hover"><i class="fas fa-cog"></i></button>
                    <button type="button" class="btn btn-basic btn-32 active"><i class="fas fa-cog"></i></button>
                    <button type="button" class="btn btn-basic btn-32 disabled"><i class="fas fa-cog"></i></button>
                </div>
                <div class="d-flex vertical-center m-4">
                    <h6 class="m-0">Basic busy buttons: </h6>
                    <button class="btn btn-basic disabled updating mr-2" type="submit">disabled updating</button>
                    <button class="btn btn-secondary disabled updating mr-2" type="submit">disabled updating</button>
                </div>
                <div class="d-flex vertical-center m-4">
                    <h6 class="m-0">Action buttons (24 and 16): </h6>
                    <button type="button" class="btn btn-24 btn-action"><i class="fas fa-play"></i></button>
                    <button type="button" class="btn btn-24 btn-action hover"><i class="fas fa-play"></i></button>
                    <button type="button" class="btn btn-24 btn-action active"><i class="fas fa-play"></i></button>
                    <button type="button" class="btn btn-24 btn-action disabled"><i class="fas fa-play"></i></button>
                    <button type="button" class="btn btn-24 btn-action disabled updating"><i
                            class="fas fa-play"></i></button>
                    <button type="button" class="btn btn-16 btn-action"><i class="fas fa-play"></i></button>
                    <button type="button" class="btn btn-16 btn-action hover"><i class="fas fa-play"></i></button>
                    <button type="button" class="btn btn-16 btn-action active"><i class="fas fa-play"></i></button>
                    <button type="button" class="btn btn-16 btn-action disabled"><i class="fas fa-play"></i></button>
                    <button type="button" class="btn btn-16 btn-action disabled updating"><i
                            class="fas fa-play"></i></button>
                </div>
            </div>
        </div>
    </div>
</main>