<script src="{{ url_for('design-system.static', filename='assets/js/color-picker/dist/coloris.min.js') }}"></script>
<!--<script src="{{ url_for('design-system.static', filename='assets/js/bootstrap-tags-master/tags.min.js') }}"></script>-->
<script>
    Coloris({
        el: '#coloris',
        themeMode: 'light',
        onChange: (color) => {
            console.log(color)
        },
        swatches: [
            '#5933c6',
            '#29B8F5',
            '#2bd48d',
            '#EFE482',
            '#F89033',
            '#f32626',
        ],
    });
</script>