input[type=checkbox].custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.custom-checkbox+label::before {
  content: '';
  display: inline-block;
  width: 18px;
  height: 18px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid var(--gray400);
  border-radius: 0.25em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
  cursor: pointer;
}
.custom-checkbox+label:hover:before {
  border: 1px solid var(--gray600);
}
.custom-checkbox:checked+label::before {
  border-color: var(--purple);
  background-color: var(--purple);
  background-image: url("../../../../../static/assets/ico/check-white.svg");
  background-size: 10px;
}
.custom-checkbox.custom-checkbox__minus:checked+label::before {
  background-image: url("../../../../../static/assets/ico/minus.svg");
}
.custom-checkbox:disabled+label::before {
  background-color: var(--gray400);
  border-color: var(--gray400);
}
.custom-checkbox:checked:not(:disabled)+label:hover:before {
  background-color: var(--purple-hover);
  border-color: var(--purple-hover);
}

/* checkbox multicolor */

/* YELLOW */
.custom-checkbox.custom-checkbox_multicolor__yellow+label::before {
  border: 1px solid var(--yellow);
}
.custom-checkbox.custom-checkbox_multicolor__yellow:checked+label::before {
  border-color: var(--yellow);
  background-color: var(--yellow);
}
.custom-checkbox.custom-checkbox_multicolor__yellow:checked:not(:disabled)+label:hover:before {
  border-color: var(--yellow);
  background-color: var(--yellow);
}
/* PINK */
.custom-checkbox.custom-checkbox_multicolor__pink+label::before {
  border: 1px solid var(--pink);
}
.custom-checkbox.custom-checkbox_multicolor__pink:checked+label::before {
  border-color: var(--pink);
  background-color: var(--pink);
}
.custom-checkbox.custom-checkbox_multicolor__pink:checked:not(:disabled)+label:hover:before {
  border-color: var(--pink);
  background-color: var(--pink);
}

/* BLUE */
.custom-checkbox.custom-checkbox_multicolor__blue+label::before {
  border: 1px solid var(--blue);
}
.custom-checkbox.custom-checkbox_multicolor__blue:checked+label::before {
  border-color: var(--blue);
  background-color: var(--blue);
}
.custom-checkbox.custom-checkbox_multicolor__blue:checked:not(:disabled)+label:hover:before {
  border-color: var(--blue);
  background-color: var(--blue);
}