<main class="d-flex align-items-start">
    {% with active_subsection=payload.theme.active_subsection, aside_list=aside_list %}
    {% include 'design-system:aside.html' %}
    {% endwith %}

    <div class="card mt-3 w-100">
        <div class="card-header">
            <h1> Icons </h1>
        </div>
        <div class="card-body row">
            <div class="col-12">
                <div class="card w-100 card-stripped p-3">
                    <h4 class="mb-1">18 x 18 px</h4>
                    <div class="d-flex flex-row">
                        <i class="icon__18x18 icon-status__18"></i>
                        <i class="icon__18x18 icon-date-picker__18"></i>
                        <i class="icon__18x18 icon-severity__18"></i>
                    </div>
                    <div class="d-flex flex-row">
                        <i class="icon__18x18 icon-filter"></i>
                        <i class="icon__18x18 icon-refresh"></i>
                        <i class="icon__18x18 icon-settings"></i>
                        <i class="icon__18x18 icon-edit"></i>
                        <i class="icon__18x18 icon-delete"></i>
                        <i class="icon__18x18 icon-tag"></i>
                        <i class="icon__18x18 icon-copy"></i>
                        <i class="icon__18x18 icon-date-picker"></i>
                        <i class="icon__18x18 icon-download"></i>
                        <i class="icon__18x18 icon-drag"></i>
                        <i class="icon__18x18 icon-eye"></i>
                        <i class="icon__18x18 icon-user"></i>
                    </div>
                    <div class="d-flex flex-row">
                        <i class="icon__18x18 icon-folder"></i>
                        <i class="icon__18x18 icon-integrate"></i>
                        <i class="icon__18x18 icon-link"></i>
                        <i class="icon__18x18 icon-lock"></i>
                        <i class="icon__18x18 icon-menu-dots"></i>
                        <i class="icon__18x18 icon-multichoice"></i>
                        <i class="icon__18x18 icon-run"></i>
                        <i class="icon__18x18 icon-stamp"></i>
                        <i class="icon__18x18 icon-table-basic"></i>
                        <i class="icon__18x18 icon-table-advanced"></i>
                        <i class="icon__18x18 icon-table-cards"></i>
                        <i class="icon__18x18 icon-zoom-in"></i>
                        <i class="icon__18x18 icon-zoom-out"></i>
                    </div>
                    <div class="d-flex flex-row">
                        <i class="icon__18x18 icon-create-element"></i>
                        <i class="icon__18x18 icon-remove-element"></i>
                    </div>
                    <h4 class="mb-1 mt-4">16 x 16 px</h4>
                    <div class="d-flex flex-row">
                        <i class="icon__16x16 icon-aborted__16"></i>
                        <i class="icon__16x16 icon-arrow-down-bold__16"></i>
                        <i class="icon__16x16 icon-arrow-down__16"></i>
                        <i class="icon__16x16 icon-arrow-right__16"></i>
                        <i class="icon__16x16 icon-arrow-up-bold__16"></i>
                        <i class="icon__16x16 icon-arrow-up__16"></i>
                        <i class="icon__16x16 icon-arrows-left__16"></i>
                        <i class="icon__16x16 icon-close__16"></i>
                        <i class="icon__16x16 icon-info__16"></i>
                    </div>
                    <div class="d-flex flex-row">
                        <i class="icon__16x16 icon-attention__16"></i>
                        <i class="icon__16x16 icon-check__16"></i>
                        <i class="icon__16x16 icon-info-note__16"></i>
                        <i class="icon__16x16 icon-loading__16"></i>
                        <i class="icon__16x16 icon-success__16"></i>
                        <i class="icon__16x16 icon-test-failed__16"></i>
                        <i class="icon__16x16 icon-minus__16"></i>
                        <i class="icon__16x16 icon-plus__16"></i>
                    </div>
                    <div class="d-flex flex-row">
                        <i class="icon__16x16 icon-circle-deep-grey__16"></i>
                        <i class="icon__16x16 icon-circle-green__16"></i>
                        <i class="icon__16x16 icon-circle-grey__16"></i>
                        <i class="icon__16x16 icon-circle-red__16"></i>
                        <i class="icon__16x16 icon-circle-blue__16"></i>
                        <i class="icon__16x16 icon-left-arrow__16"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>